[2019-11-19 14:37] krysennn opened #4 "Deprecated apiVersion for Deployment and Ingress object"
Unable to install victoria metrics with helm on kubernetes cluster v1.16.1.
[code]

According to https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-11-19 17:54] #4 closed

[2019-11-19 20:59] tenmozes commented on #4
the new version of helm chart is released

[2019-11-26 00:13] ThePants999 opened #6 "Can't install chart version 0.3.0"
helm install my-release vm/victoria-metrics-cluster --dry-run
Error: YAML parse error on victoria-metrics-cluster/templates/clusterrole.yaml: error converting YAML to JSON: yaml: line 7: did not find expected key

This was with Helm 3, but I do get the same error with Helm 2. (Not during dry run - Helm 2 happily does a dry run but gives the error above when you attempt a real install. Helm 3 gives

[2019-11-26 06:15] kostyaplis commented on #6
Same error installing cluster with terraform helm provider.
[code]

[2019-11-26 06:16] tenmozes commented on #6
hello thanks for a report will fix ASAP

[2019-11-26 06:32] tenmozes commented on #6
fixed, please update repo

[2019-11-26 10:02] kostyaplis commented on #6
Confirm. Works now. Thanks!

[2019-11-26 11:29] tenmozes commented on #6
@kostyaplis thank you, closing an issue, feel free to reopen

[2019-11-26 11:29] #6 closed

[2019-12-05 02:12] mattparkes opened #7 "vminsert service doesn't give a way to expose UDP 2003"
I enabled the Graphite receiver with:

[code]

However, there's no way in `vminsert-service.yaml` to add **UDP/2003** to the `vminsert` _Service_, so that it can be forwarded to the `vminsert` _Pods_.

[2019-12-12 13:29] krysennn opened #8 "Unexpected values when using extraArgs"
Hi

I would add extra args with helm cli (--set) or with values file but i facing to unexpected values in rendered template.

### **Test1:** Testing with values file
`helm template test . -f test-values.yml`
[code]

**Result:**
[code]

### **Test2:** Testing with --set argument
`helm template test . --set vmstorage.extraArgs.search.maxUniqueTimeseries=1000000`
[code]

### **Test3:** Second test wi

[2019-12-12 13:36] tenmozes commented on #8
thanks for a report, i will investigate and fix

[2019-12-12 14:16] krysennn commented on #8
@tenmozes I don't see your message before my pull request, my proposal it's breaking change because i change the map to slice format

[2019-12-14 09:02] tenmozes commented on #7
@mattparkes will provide solution today

[2019-12-14 09:20] tenmozes commented on #8
1. search.maxUniqueTimeseries: "1000000" works fine. Unfortunately this is  helm parsing issue (https://github.com/helm/helm/issues/1707)

2. please escape "." in set and use `--set-string`
[code]

[2019-12-14 09:38] krysennn commented on #8
Oh! I don't see this issue, i will test it monday.
Thanks a lot! I closed the PR too, sorry for the noise.

[2019-12-14 09:38] #8 closed

[2019-12-14 09:42] tenmozes commented on #8
@krysennn feel free to reopen if you have any questions

[2019-12-15 09:51] tenmozes commented on #7
@mattparkes please check 0.4.0 it supports all port on service, deployment and ingress level

[2019-12-15 12:20] mattparkes commented on #7
That looks _perfect_! Thanks for the prompt fix!

[2019-12-15 12:20] #7 closed

[2019-12-15 18:34] tenmozes opened #10 "Single node helm chart"
Need to add basic single node helm chart with:
- [x] svc
- [x] sts
- [x] service monitor
- [x] ingress
- [x] roles

[2020-04-02 07:08] gorilych opened #21 "bump helm chart version in case of changes"
Hello,

Please update helm chart version if you change it.

My cluster is monitored by ArgoCD which constantly syncs installed helm charts, and today it restarted the cluster because you changed docker image tags w/o changing chart version, so even if chart version stays the same, it has to restart VM deployments.

[2020-04-02 13:22] valyala commented on #21
Done

[2020-04-02 13:22] #21 closed

[2020-04-05 15:24] NaPs opened #22 "Repository is broken"
Links to the packages in the index.yaml manifest are broken (eg: https://victoriametrics.github.io/helm-charts/packages/victoria-metrics-single-0.0.6.tgz).

The chart can't be installed using the repository.

Thank you!
Antoine

[2020-04-05 15:31] NaPs commented on #22
Note (after looking at the problem): I do not recommend to store the binary packages into the git repository itself.

You can use https://github.com/helm/chart-releaser to create releases on the GH project for each chart version. Each release can store the binary packages for a version. Also, if you want to use GH Actions to run this automatically, you can use this: https://github.com/helm/chart-r

[2020-04-05 16:45] valyala commented on #22
oops, this was my fault. Added missing binary packages at 563e96ee693a285c5f35daad11a126b2b2a8580f .

@tenmozes , could you look into this?

[2020-04-05 17:06] NaPs commented on #22
Now working, thank you! :-)

[2020-04-06 15:29] MikaSoinetsalo opened #23 "Possible issue with ServiceMonitor CRD ?"
I'm getting the following error when using Terraform Helm provider version 1.1.1 (which uses Helm 3.12)

Using default values except set "serviceMonitor" to "True". Single Server Helm chart version 0.0.6

_Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "ServiceMonitor" in version "monitoring.coreos.com/v1"_

Problem is solved if I run t

[2020-04-07 21:28] #22 closed

[2020-04-08 17:56] tenmozes commented on #23
Hi @MikaSoinetsalo, you need to install prometheus operator first, it brings to k8s ServiceMonitor resource, otherwise you get the error which you've described above

[2020-04-08 21:30] NaPs opened #24 "Several issues in victoria-metrics-single"
Found several issues using the new chart version:
- deployment mode exists (server.statefulSet.enabled = false) but there is deployment resource defined
- ClusterIP is defined to None in the service resource defined in statefulSet mode
- Most options aren't available in the service resource defined in statefulSet mode (type, ExternalIPs...)

Will provide PR soon.

[2020-04-11 20:42] tenmozes commented on #24
i will add deployment

[2020-04-11 21:03] NaPs commented on #24
Yeah, thank you I forgot that in my PR!

[2020-04-14 19:33] #10 closed

[2020-04-14 19:33] tenmozes commented on #24
deployment has been added

[2020-04-15 17:48] tanelso2 opened #27 "Victoria-metrics-single deployment mode doesn't create PVC"
It has a default for the name of the PVC if an existing one isn't defined, but it doesn't create that PVC.

[2020-04-15 19:21] #27 closed

[2020-04-20 16:43] hex2a opened #31 "authentication"
please add support for authentication

it looks like those flags could be set via `server.extraArgs` but support for kubernetes secrets would be preferred.
https://github.com/VictoriaMetrics/VictoriaMetrics/wiki/Single-server-VictoriaMetrics#security

in case this should be handled exclusively on the ingress level (as mentioned here: https://github.com/VictoriaMetrics/VictoriaMetrics/issues/263#is

[2020-04-21 18:53] tenmozes commented on #31
this already can be dome by means of k8s, just create secret and use it in ingress, in that case you don't need to specify extra args

[2020-05-11 13:02] artemsre opened #34 "Label for statefulset more than 63 characters"
When helm release name longer than 17 chars the error happens:

`create Pod victoriametrics-gcp-stg-victoria-metrics-cluster-vmstorage-0 in StatefulSet victoriametrics-gcp-stg-victoria-metrics-cluster-vmstorage failed error: Pod "victoriametrics-gcp-stg-victoria-metrics-cluster-vmstorage-0" is invalid: metadata.labels: Invalid value: "victoriametrics-gcp-stg-victoria-metrics-cluster-vmstorage-5dcc

[2020-05-11 13:04] tenmozes commented on #34
thanks will fix that

[2020-05-12 10:30] artemsre opened #35 "vmagent kubelet cAdvisor scraping forbidden"
GCE cluster and vmagent can't scrape kubelet cadvisor:

[code]

This will fix the problem.

[code]

Prometheus operator chart had this resource in clusterrole

[2020-05-12 11:26] artemsre commented on #35
https://github.com/VictoriaMetrics/helm-charts/pull/36

[2020-05-12 19:22] hagen1778 opened #37 "Rename flag names for `vmalert` chart"
Please see this PR for flag names change https://github.com/VictoriaMetrics/VictoriaMetrics/pull/472

[2020-05-13 18:24] tenmozes commented on #35
new version of vmagent has been pushed, thanks for contribution

[2020-05-15 18:55] tenmozes commented on #35
close an issue, feel free to reopen

[2020-05-15 18:55] #35 closed

[2020-05-22 05:57] #37 closed

[2020-05-31 09:35] kazukousen commented on #34
I had that happens too.

I changed releaseName to be shorter.
it seems to be working so far.

[code]

[2020-06-11 09:25] avthart opened #42 "provide pod security policies (optional) for clusters with psp enabled"
Victoria Metrics can not run in clusters where pod security policies are required.

[2020-06-11 17:16] tenmozes commented on #42
Hi @avthart thank you for report, could you please provide more details
the best way is to attach configuration which doesn't work

[2020-06-11 17:17] tenmozes commented on #24
close an issue feel free to reopen it

[2020-06-11 17:17] #24 closed

[2020-06-12 18:04] silverbp opened #44 "Ability to Specify Basic Auth for remoteWriteUrls for VM Agent"
Currently there doesn't seem to be a way to specify basic auth creds for remoteWriteUrls of the VM Agent.

[2020-06-13 20:16] tenmozes commented on #44
Hi @silverbp you can use `extraArgs` for that and specify username and password pair
example
[code]

[2020-06-15 08:10] avthart commented on #42
In most clusters today, by default, all resources (e.g. Deployments and StatefulSets) have permissions to create pods. Kubernetes however provides a more fine-grained authorization policy called [Pod Security Policy (PSP)](https://kubernetes.io/docs/concepts/policy/pod-security-policy/).

PSP allows the cluster owner to define the permission of each object, for example creating a pod. If you have

[2020-06-16 19:07] tenmozes commented on #42
sorry for confuse, i meant could you please provide yaml which doesn't work or preconditions how to reproduce error, why am i asking:
- psp is enabled by default  in cluster (https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-cluster/values.yaml#L12)
- psp for cluster is created if enabled - https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-

[2020-06-26 09:53] fsperling opened #46 "add variable to supress output of NOTES.txt"
When running / upgrading helm the output of NOTES.txt might be helpful at first. But once you have your setup running it isn't needed and obfuscates the important messages of wether the helm run was successful.

I would suggest another helm variable to disable this output.

https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-cluster/templates/NOTES.txt

[2020-07-06 20:57] allen13 opened #48 "Failure threshold too low"
Recommend defining a failureThreshold greater than the default 3. https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml#L52

Large amounts of data will take longer to load. Currently it times out after 45 (15*3) seconds.

This is just a note gained from production experience. Feel free to close this task as soon as somone fr

[2020-07-07 17:35] tenmozes commented on #48
Hi @allen13  thank you, the probes configuration moved to values.yaml
[code]
please try in in cluster version `0.5.16`

[2020-07-07 17:35] tenmozes commented on #48
feel free to reopen and issue

[2020-07-07 17:35] #48 closed

[2020-07-18 18:25] WyriHaximus opened #50 "Creating backups using the single helm chart"
Been using victoriametrics for a few months now and it's absolutely a breeze to set up with these helm charts. But what I'm missing here is a way to back up to a network drive (cifs/smb in my case). Now I'd gladly add this to the helm chart with a cronjob. But up on researching this I found that the only way it seems to backup is using direct access to the data dir. Is there a way to backup metric

[2020-07-20 18:35] valyala commented on #50
As I know, the `vmbackup` ma run as a sidecar in the same pod as single-node VictoriaMetrics or `vmstorage` component in cluster version. cc'ing @tenmozes for more input

[2020-07-21 06:04] tenmozes commented on #50
actually `vmbackup` is a cli command which can not be executed like sidecar, need to demonize it and add scheduling
this is main reason why it doesn't exist in helm chart

[2020-07-21 10:40] WyriHaximus commented on #50
Yeah this is why I was thinking about using a cronjob for it. But if it only works with file access to the data that is going to be a bit harder

[2020-07-22 16:56] paprickar opened #52 "vmagent psp policy / runAsNonRoot"
Hey,

it seems that vmagent can`t run in clusters with PSP enabled.

If I want to run the vmagent it is not possible as kubernetes detect it is running as root.

If I set following then the pod is able / allowed to start
[code]
https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/values.yaml#L59

But then vmagent does not work properly. It seems that vmagent nee

[2020-07-22 19:01] tenmozes commented on #52
please update agent helm chart to `0.4.9`
i was able to run agent with config

[code]

[2020-07-22 19:22] paprickar commented on #52
It works - thanks a lot

[2020-07-22 19:22] #52 closed

[2020-07-29 12:48] avthart commented on #42
We have tested that PSP is working for `victoria-metrics-single` and `victoria-metrics-cluster`. For `vm-agent` and `vm-alert` there is currently no flag to enable psp. Are there any plans to implement this?

[2020-07-29 12:49] tenmozes commented on #42
@avthart  i will add it this week

[2020-08-08 19:36] tenmozes commented on #42
@avthart sorry for delay could you please review https://github.com/VictoriaMetrics/helm-charts/pull/54

[2020-08-16 19:00] tenmozes commented on #42
@avthart please you can find psp for agent in 0.5.0 for alert - 0.2.0
feel free to reopen an issue

[2020-08-16 19:00] #42 closed

[2020-08-16 19:06] tenmozes commented on #46
the `printNotes` option has been added to `values.yaml` file for cluster version of VM in 0.6.3

[2020-08-16 19:06] #46 closed

[2020-08-19 07:12] nickvth commented on #42
@tenmozes @avthart is on holiday, i will test this today

[2020-08-19 07:32] nickvth commented on #42
@tenmozes tested and looks good, thanks for the fix!

[2020-08-19 15:15] tenmozes commented on #23
hi @MikaSoinetsalo you can find vm-operator following this link https://github.com/VictoriaMetrics/VictoriaMetrics/tree/master/app/vmagent#troubleshooting

[2020-08-26 02:41] ledmonster opened #56 "Can I mount prometheus.yml on victoria-metrics-single?"
I found `extraConfigmapMounts` parameter is used in [server-deployment.yaml](https://github.com/VictoriaMetrics/helm-charts/blob/d2ace6c/charts/victoria-metrics-single/templates/server-deployment.yaml), but volumes are not configured there. Should I modify chart to use prometheus.yml with victoria-metrics-single?

[2020-08-26 07:47] tenmozes commented on #56
VictoriaMetrics doesn't support yaml configuration as for now (now several part of it for scrapping and relabling)
please check https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-single/values.yaml all configuration can be found there.

[2020-08-26 08:08] belm0 commented on #56
I'd like the VM chart to support `serverFiles` / `prometheus.yml` similar to the Prometheus chart.

[2020-08-31 23:56] Freakin opened #58 "Unable to supply multiple storageNode"
When attempting to deploy a cluster, I am going to run `vmstorage` nodes on traditional virtual machines and running `vminsert` and `vmselect` in k8s deployed via Helm chart.

Attempting to supply multiple values for `storageNode` in `extraArgs` for either `vminsert` or `vmselect` results in only the last value being rendered with no Helm warning being thrown. This appears to be caused due to usin

[2020-09-01 01:16] ledmonster commented on #56
@tenmozes I see. Now, I copied `prometheus.yml` to storage directly, and it works.

[2020-09-01 04:40] tenmozes commented on #58
please try `storageNode: "fqdn1.mydomain.com:8400,fqdn1.mydomain.com:8401,fqdn1.mydomain.com:8402"` as yaml doesn't support duplicated keys

[2020-09-01 15:55] Freakin commented on #58
That worked perfectly thanks for the prompt reply @tenmozes!

[2020-09-01 15:55] #58 closed

[2020-09-06 10:14] Alon-Katz opened #60 "Changing vmstorage.persistentVolume.size has no effect"
Hey,

I am deploying the cluster version helm charts, in aws on ec2.
When trying to increase storage for vmstorage in configuration vmstorage.persistentVolume.size, it has no effect.
At the moment it has the value of `size: 8Gi` and I can see there are 2 EBS with capacity of 8GiB (I have 2 replicas for vmstorage), when increasing it to `size: 16Gi`and running helm upgrade it upgrades successfully

[2020-09-06 19:32] f41gh7 commented on #60
Hello, it's a kubernetes issue, changing size of `volumeClaimTemplates` is not supported for statefulsets.

https://github.com/kubernetes/kubernetes/issues/68737

 There are few workarounds:

https://github.com/kubernetes/kubernetes/issues/68737#issuecomment-498470138

[2020-09-07 07:02] Alon-Katz commented on #60
Thanks! I will try those workaround.
I will close the issue because its not VictoriaMetrics problem.

[2020-09-07 07:02] #60 closed

[2020-09-17 15:24] afoninsky opened #64 "vm-agent persistent storage support"
VM uses local fs to keep buffer in case if remote_write endpoint is not available. Currently, there is no possibility to mount emptyDir/persistent volume as a storage.

1. Data will be lost after pod restart.
2. Service exists with error if following security option is set: "securityContext.readOnlyRootFilesystem = true"
3. It's not a good practice to write into root fs in containers.

Recommended

[2020-09-17 18:27] silverbp opened #65 "Duplicate Scrape Target Error on Kube-DNS"
We're getting this error with the default configuration in helm when installing in k8s in AWS (EKS).

error	VictoriaMetrics/lib/promscrape/scraper.go:269	skipping duplicate scrape target with identical labels; endpoint=http://10.100.30.94:9153/metrics, labels={eks_amazonaws_com_component="kube-dns", instance="10.100.30.94:9153", job="kubernetes-service-endpoints", k8s_app="kube-dns", k8s_cluster_n

[2020-09-17 18:28] tenmozes commented on #65
hello @silverbp please check the https://github.com/VictoriaMetrics/VictoriaMetrics/tree/master/app/vmagent#troubleshooting

section:
[code]

[2020-09-17 18:30] silverbp commented on #65
@tenmozes this error is coming up in the kubernetes-service-endpoints job, not the pod job.

[2020-09-17 18:30] silverbp commented on #65
we're using the default config that's in helm.

[2020-09-17 18:31] tenmozes commented on #65
@valyala could you pleas take a look?

[2020-09-17 18:36] silverbp commented on #65
for context, this is the kube-dns service definition in k8s.

[code]

[2020-09-18 08:09] messi612 opened #67 "unused existingClaim for vmstorage persistentVolumeClaim in vmstorage-statefulset.yaml"
vmselect-deployment.yaml file use existingClaim as below:
[code]
but i can not find existingClaim use in vmstorage-statefulset.yaml

[2020-09-18 08:59] #67 closed

[2020-09-18 15:33] silverbp commented on #65
if you add the following to the endpoint it gets rid of the issue as there are multiple ports without a label identifying that, but maybe we don't want to pull these targets regardless. not sure..

        - source_labels: [__meta_kubernetes_endpoint_port_name]
          action: replace
          target_label: kubernetes_endpoint_port_name

there's essentially a tcp and udp port on that service wh

[2020-09-18 15:39] silverbp commented on #65
actually, I think it's just returning two and you really only want one, but you don't really have a way to say only take this one, you're logic you're applying in the MR I think will get rid of both of them..

[2020-09-18 15:40] silverbp commented on #65
[code]

[2020-09-18 15:40] silverbp commented on #65
[code]

[2020-09-18 15:40] silverbp commented on #65
the only diff between those two is this

[code]

[2020-09-18 15:41] silverbp commented on #65
I guess I could explicitly drop it if it's kube-dns and has that second name..

[2020-09-18 18:23] silverbp commented on #65
It seems like the application is doing what it should and dropping duplicate errors and instead they shouldn't be logged as errors.

[2020-09-20 00:19] f41gh7 commented on #65
Basically, Kubernetes service discovery configuration produces as many target, as unique combination of port you have.

 For instance, lets image you have 1 service, backed by 1 pod with 2 ports. Also, this pod has initContainer with 1 port.

 You added two annotations to this service: `prometheus.io/port:` and `prometheus.io/scrape: `.

 After service discovery you will have 3 targets (2 containe

[2020-09-21 17:52] silverbp commented on #65
yup, I was able to get it the issue resolved or eliminate the error by having it drop one of the kube-dns ports. I just think it would be ideal to have a configuration option that allowed you to ignore those errors. Then you wouldn't have to worry about making it so that you only got one target. You could just set your labels up so you only got one and the duplicates would be eliminated by victori

[2020-09-21 17:53] silverbp commented on #65
by ignore those errors, I mean, don't log them as an error or probably even at all or the logs would get pretty verbose..

[2020-09-21 18:01] valyala commented on #65
VictoriaMetrics already leaves only a single target if it sees duplicate targets with identical set of labels. I don't think it is good idea to suppress such errors, since they point to improper configuration for relabeling, which must be investigated and fixed instead of silently ignored.

[2020-09-23 16:53] mnachmia31 opened #68 "Can I set search.maxStalenessInterval on a single node or cluster via Helm charts?"
We are looking into migrating from Influx to VictoriaMetrics but need to be able to suppress staleness calculations. Would I be able to set these configuration flags outlined here in the Helm chart as I do not see them referenced:

https://hub.docker.com/r/victoriametrics/victoria-metrics

[2020-09-23 17:39] f41gh7 commented on #68
Hello,  for Single version you can set it with flags:
```helm upgrade -i -set server.extraArgs.search\.maxStalenessInterval=1m vms vm/victoria-metrics-single```

For cluster version:
```helm upgrade -i  -set vmselect.extraArgs.search\.maxStalenessInterval=1m vms vm/victoria-metrics-cluster```

[2020-09-23 17:52] mnachmia31 commented on #68
@f41gh7 thanks for the prompt response. Out of curiosity is it possible to accomplish it via env variables as well?

[2020-09-23 18:24] f41gh7 commented on #68
It's not possible with helm, unfortunately.

[2020-09-23 20:07] #68 closed

[2020-09-25 11:32] avthart commented on #42
Just found out that the `serviceAccountName` is not configured for vm alert deployement.

[2020-10-01 16:02] Alon-Katz opened #69 "How to use replicationFactor in helm charts"
Hey,

How can I give replicationFactor to vminsert pods? Should I add it in the extraArgs field in vminsert and then also add -dedup.minScrapeInterval=1ms in extraArgs for vmselect?

Thanks!

[2020-10-01 16:20] tenmozes commented on #69
yeap, you can use extraArgs and specify this params
[code]

[2020-10-01 16:23] Alon-Katz commented on #69
Thanks!!

[2020-10-01 16:23] #69 closed

[2020-10-11 08:37] Alon-Katz opened #73 "Setting up scraping with victoria metrics cluster"
Hey,

I wanted to setup monitoring of VM-cluster with another instance of VM-cluster, I saw that VM-single has this option:

How can I do this with the helm chart for VM-cluster? Or is this only supported in VM-single?

Thanks!

[2020-10-11 10:16] tenmozes commented on #73
Hello, you can do it with cluster, let me a bit describe the ecosystem
Single version is like a swiss knife, can scrape and store inside itself. But when you have a load or need some distribution you want to split the components. For that we have:
- vm-cluster - distributed metric storage
- vmagent - scraper
- vmalert - which evaluates the rules (alerting and recording)

so the full setup of the s

[2020-10-11 11:06] Alon-Katz commented on #73
Thanks for such a quick response!

If I understood it correctly, to be able to scrape targets (another vm instance for example) with VM-Cluster I would need to deploy vmagent and do remote write to VM-cluster?

If thats true and I wanted to do it with minimal dependencies, then I should use the single version VM which can scrape other targets without vmagent? if thats also true then deploying sing

[2020-10-12 08:40] AzSiAz opened #74 "vmagent use env from secret for remoteWrite.basicAuth"
I use FluxCD & Sealed secret to protect kubernetes secret stored in private git and the doc [here](https://github.com/VictoriaMetrics/VictoriaMetrics#environment-variables) say it's possible to provide env variable instead of cli flag.
So it should possible to use this [technique](https://kubernetes.io/fr/docs/concepts/configuration/secret/#utilisation-de-secrets-comme-variables-d-environnement) t

[2020-10-12 19:41] tenmozes commented on #74
hello @AzSiAz the option will be added in https://github.com/VictoriaMetrics/helm-charts/pull/75

[2020-10-16 14:11] Yalafeg opened #78 "Deduplication of data"
Hello,

I deployed Victoria-Metrics Cluster and I need to make sure that the data collected and stored on the storage level is not duplicated. How can I verify this? For example if we created 4 replicas for the storage pods, the data should not be stored 4 times. What I mean is that the metrics from prometheus should not be duplicated on the storage level.

Can you please explain the behavior of t

[2020-10-16 15:38] Yalafeg commented on #78
What I did is that I installed kube-prometheus-stack with a remote_write to victoriametrics using the appropriate URL. What I am afraid of is that the metrics collected with Prometheus will be deduplicated several times at the storage level which will decrease the available capacity. Can you clarify the idea of metrics' collection using Prometheus and saving it to the storage?

And a question abou

[2020-10-16 17:56] tenmozes commented on #78
hello @Yalafeg
be default data is not replicated and each pod contains own unique dataset
- replicationFactor > 1 defines how many times you want to duplicate data across nodes. E.g. for replicationFactor=3 vminsert writes data to 3 storage nodes
- dedup.minScrapeInterval, sometime you need to write duplicated data from outside to cluster (e.g. vmagent HA setup) for that you can remove duplication

[2020-10-16 17:56] tenmozes commented on #78
@Yalafeg retention is in Months https://victoriametrics.github.io/#retention

[2020-10-19 13:08] Yalafeg commented on #78
Thank you  a lot for the details

[2020-10-19 13:08] #78 closed

[2020-10-19 14:55] Yalafeg opened #80 "Use VictoriaMetrics as datasource in Grafana"
Hello,

Based on VictoriaMetrics documentation we can use VictoriaMetrics as Prometheus Datasource in Grafana. I am trying to do it with no luck; I am not sure if I am adding the values correctly. Please can you advise?

From VictoriaMetrics documentation:
"Grafana setup
Create Prometheus datasource in Grafana with the following url:

http://<victoriametrics-addr>:8428
Substitute <victoriametrics-

[2020-10-20 05:24] f41gh7 commented on #80
Hello, your configuration looks valid, but which port do you use?

 For cluster version you need to specify 8481 port of vmselect.

https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-cluster/values.yaml#L121

[2020-10-21 07:45] Yalafeg commented on #80
Hello, thank you for your reply.
What I noticed is that the "Bad gateway" error appears when I add the replicationFactor=2 and dedup.minScrapeInterval=1ms to the vminsert and vmselect respectively. Any advise?
What can I do to replicate the data and use grafana dashboard at the same time ?

Thank you,

[2020-10-28 20:55] sagor999 opened #84 "vmalert - how to specify more than 2 alert manager end points"
Hello,
It seems like in current version of vmalert chart it is only possible to specify two end points for alert manager.
One via `server.notifier.alertmanager.url` and a second one via `extraArgs`, by specifying `notifier.url` key.
But we have 3 alert managers. How would I add a third one? Seems like current chart doesn't support it?

Thank you!

[2020-10-29 01:08] sagor999 commented on #84
nvm. Failed to read documentation properly.
[code]

[2020-10-29 01:08] #84 closed

[2020-10-29 02:55] sagor999 opened #85 "vmalert: please allow to add sidecar in helm chart"
Would it be possible to add support for specifying sidecar for vmalert?
Would like to add configmap-reload sidecar, that would automatically call `reload` when configmap was updated.

[2020-10-30 10:03] julien-sobczak opened #86 "Pushing charts in a public repository?"
Hi,

Do you plan to publish charts in a public repository like https://artifacthub.io/ or to use Git tags for versioning?

Regards,

[2020-11-02 08:13] weisdd opened #88 "Bug: templates for retention period fail to render values smaller than one month"
Starting from v1.45.0, VM allows to have retention periods smaller than one month (https://github.com/VictoriaMetrics/VictoriaMetrics/issues/173).

The issue is that the current template fails to render non-numerical values like `5d`, `1w` - they produce  `--retentionPeriod=0`

[2020-11-09 08:23] fsperling opened #89 "Bug: vmselect deployment should use selectNode argument to support metrics deletion"
Hi,

deleting a metric via:
https://fqdn/delete/0/prometheus/api/v1/admin/tsdb/delete_series?match[]=metric-name

results in the following error in the vmselect log:

`2020-11-09T08:23:49.299Z        panic   VictoriaMetrics/app/vmselect/prometheus/prometheus.go:304       BUG: missing -selectNode flag
2020-11-09T08:23:49.300Z        error   net/http/server.go:3093 http: panic serving 10.28.1.3:3677

[2020-11-13 09:17] alesanmed opened #90 "Send InfluxDB data to Victoriametrics cluster"
Hi all,

I reviewed the charts available in the repo and I can see that in single mode the port `8428` is exposed as well as other ways of writing influx data. But I can't find that same thing with the cluster mode. How can I achieve that using the cluster?

Thanks!!

[2020-11-14 16:28] tenmozes commented on #90
hello, yes you can do it, you  need to specify `influxListenAddr` in extraArgs section
[code]

[2020-11-14 16:53] tenmozes commented on #89
@valyala could you please take a look?

[2020-11-14 16:54] tenmozes commented on #88
thank you for bug report, the fix will be available in next release (today)

[2020-11-14 16:54] #88 closed

[2020-11-14 16:55] tenmozes commented on #64
@afoninsky is it still relevant?

[2020-11-16 08:45] alesanmed commented on #90
Thanks for the answer, it worked!! It would be nice to add that variable to the cluster documentation. Thanks again, closing the issue :)

[2020-11-16 08:45] #90 closed

[2020-11-17 16:29] #80 closed

[2020-11-17 17:10] Yalafeg opened #92 "Victoria metrics cluster monitoring et data access"
Hello,

I am not sure if I missed something, but I am unable to monitor victoriametrics using Prometheus. Please can you advise if using the victoriametrics cluster helm chart we will be able to monitor the cluster both ways: self monitor and through Prometheus?

Furthermore, I need to check the data written to the storage, is there any option to do it?

Regards,

[2020-11-18 14:14] #92 closed

[2020-12-15 17:20] kernel164 opened #98 "add support for configurable nodeport on victoria-metrics-single chart"
Would like to have configurable nodeport on victoria-metrics-single chart

[code]

[2020-12-16 04:35] #56 closed

[2020-12-18 08:20] tenmozes commented on #98
sure we will add a support

[2020-12-18 08:20] tenmozes commented on #86
@f41gh7 what do use think about that?

[2020-12-18 12:35] f41gh7 commented on #86
will take a look.

[2020-12-22 20:28] wappam opened #102 "vmoperator alway disable prometheus converter"
Bug on chart https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-operator

The deployment of the operator is always disabling the prometheus converter.

My values.yaml
[code]
After deploying the spec of the deployment:
[code]
The expected behaviour:

- VM_ENABLEDPROMETHEUSCONVERTER_PODMONITOR set to "true"
- VM_ENABLEDPROMETHEUSCONVERTER_SERVICESCRAPE set to "true"
-

[2020-12-22 21:38] f41gh7 commented on #102
Thanks for reporting!

 Must be fixed at 0.1.4 version. Please take look at upgrade guide for 0.1.4
https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-operator#upgrade-guide

 After changes to CRD delivery process, some manual actions required.

[2020-12-22 21:39] f41gh7 commented on #89
Helm part was fixed, but you have to use statefulset deployment for vmselect.

 Fix at vmselect side will be included into  the next release.

[2020-12-30 14:05] #102 closed

[2021-01-18 06:31] SpoortiPalakshaiah opened #105 "Using vmagent as datasource in Grafana"
Hello,

I'm using Victoriametrics in k8s. I've deployed Victoriametrics using operator. I'm using vmagent as drop-in replacement for Prometheus.

What should be datasource used in Grafana to add vmagent?

[2021-02-04 15:32] apollie opened #107 "vmselect deployment not creating new volumeClaims."
The following part of the code does not create a new volume claim, but rather uses already existing one:
https://github.com/VictoriaMetrics/helm-charts/blob/c9121dd8397f21447412f14458e8b600b0ceafb7/charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml#L99-L104
But in the `values.yaml` it is stated:
https://github.com/VictoriaMetrics/helm-charts/blob/c9121dd8397f21447412f14458e8b600b0c

[2021-02-04 17:31] #107 closed

[2021-02-11 13:22] immerrr commented on #50
I think it should be possible, I am currently working on patching the helm chart to add a sidecar container to the server pod that would run `vmbackup` instance managed by crond.

Looks like `vmbackup` image is based off alpine, and according to

https://gist.github.com/AntonFriberg/692eb1a95d61aa001dbb4ab5ce00d291

I only need to put an incremental vmbackup invocation into `/etc/periodic/hourly`

[2021-02-11 15:44] ulikl commented on #50
Regarding "btw, would be a bit less moving pieces if vmbackup would be able to send the "create snapshot" request itself":
 `vmbackup` has the option "-snapshot.createURL string" to do exactly this.

[2021-02-11 16:20] immerrr commented on #50
@ulikl ah, thank you, good to know!

does it mean that when i pass a `-snapshotName=<local-snapshot>` to vmbackup with `-snapshot.createURL`, it will create a snapshot automatically?

[2021-02-11 18:28] WyriHaximus commented on #50
So does this mean we wouldn't have to go with the sidecar route and could go with a pod (cronjob) instead? Is `-snapshot.createURL` the URL of VM?

[2021-02-11 18:38] immerrr commented on #50
I think you still need a sidecar to access the volume where snapshots are created.

[2021-02-11 19:10] WyriHaximus commented on #50
Ok wait, then how should I read:
[code]
(From: https://victoriametrics.github.io/vmbackup.html )

I might be missing some VM knowledge how snapshots work here tbh :D

[2021-02-11 19:12] immerrr commented on #50
This is the URL on the VictoriaMetrics (vmstorage) instance itself, that would trigger a creation of a snapshot in its corresponding data directory. If vmbackup has access to that directory, it can then send the generated file wherever you point it (S3, GCP, etc).

[2021-02-11 19:18] WyriHaximus commented on #50
Ahhhh ok check :+1: . Yeah then it's going to be really hard not using a sidecar

[2021-02-17 10:59] auroaj opened #109 "There are no custom labels for pods"
[code]
Sometimes you need to configure additional labels for pods.
Example from grafana:
[code]
https://github.com/grafana/helm-charts/blob/86c43461578f0d53d9f3edc49a2a36e4a984e7a7/charts/grafana/templates/deployment.yaml#L30

[2021-02-18 18:48] rakeshsingrikonda opened #110 "victoriametrics/vmstorage v1.54.1-cluster policy / runAsNonRoot"
Hey,

it seems that vmstorage can`t run in clusters with PSP enabled.

applied these changes to values.yaml

podSecurityContext:
  runAsUser: 1000
  runAsNonRoot: true
containerWorkingDir: "/tmp"

getting below error:

{"ts":"2021-02-18T18:39:04.605Z","level":"fatal","caller":"VictoriaMetrics/app/vmstorage/main.go:61","msg":"cannot open a storage at /storage with -retentionPeriod=1: cannot create

[2021-02-24 11:50] f41gh7 commented on #110
Hello, can you try to use securityContext instead of podSecurityContext
https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-cluster/values.yaml#L372

Does it help?

[2021-02-24 12:09] #89 closed

[2021-02-24 12:11] #23 closed

[2021-02-24 12:12] f41gh7 commented on #105
vmagent  scrapes targets and pushes metrics to the remote_write server VMSingle or VMCluster, usually. So you have to deploy it first and specify its service url as grafana datasource.

[2021-02-24 12:14] f41gh7 commented on #64
Now vmagent supports statefulset configuration, https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/values.yaml#L20 it must solve this issue.

[2021-02-24 12:14] #64 closed

[2021-02-24 12:19] f41gh7 commented on #73
Yep, single version of vm can scrape targets with promscrape.config arg.  You have to mount config somehow,  unfortunately chart doesnt support it. Probably operator version is more flexible in this case https://github.com/VictoriaMetrics/operator/blob/master/docs/api.MD#vmsinglespec

[2021-02-24 12:20] #74 closed

[2021-02-24 12:36] f41gh7 commented on #34
` trunc 63`  was added to all labels. Seems like done, feel free to re-open.

[2021-02-24 12:36] #34 closed

[2021-02-24 12:37] f41gh7 commented on #65
`-promscrape.suppressDuplicateScrapeTargetErrors` flag must fix it.

[2021-02-24 12:37] #65 closed

[2021-02-24 13:12] f41gh7 commented on #86
https://artifacthub.io/packages/search?page=1&repo=victoriametrics

must be accessible.

[2021-02-24 13:57] julien-sobczak commented on #86
Thanks 👍

[2021-02-24 13:57] #86 closed

[2021-02-25 11:59] f41gh7 commented on #44
extraArgs and extraEnv allows to specify any combinations of basicAuth params.

 Note, with extra args you have to put it in one line:
[code]

[2021-02-25 11:59] f41gh7 commented on #85
Added at master branch.

[2021-02-25 11:59] #85 closed

[2021-02-25 12:00] f41gh7 commented on #73
At master branch you can specify additional mounts with extraVolumes and extraVolumeMounts. It should be enough to add scrape config into victoria-metrics-single chart.

[2021-02-25 12:00] #73 closed

[2021-02-25 12:02] f41gh7 commented on #31
You can mount needed secret with extraVolumes and extraVolumeMounts and use it for basic auth.  Or with you can specify it at envs section. docs section https://github.com/VictoriaMetrics/VictoriaMetrics#environment-variables

[2021-02-25 12:02] #31 closed

[2021-02-26 21:16] micw opened #111 "Add "extraSecrets" to victoria-metrics-single to allow ingress basic auth"
Hello,

I have set up a victoriametrics server + grafana + an ingress for the metrics sent by external agents. Everything works great, The only issue was that I had to create an extra helm chart to create a secret for basic auth on the metrics ingress.

I have seen that the chart can already extended by "extraContainers" and such. Would you mind to add an "extraSecrets" that allows to deploy a bas

[2021-02-28 01:15] cwsatpolymath opened #112 "Incorrect relabel_config keep_if_equal for service endpoints."
Chart version `0.7.6` for victoria-metrics-agent has the following `relabel_config` for the `kubernetes-pods`, `kubernetes-service-endpoints`, and `kubernetes-service-endpoints-slow` jobs:

[code]

This is correct for the `kubernetes-pods` job, but for the service endpoint jobs it will not scrape endpoints for services for which the pods do not have the prometheus scrape annotation.  To correct th

[2021-02-28 15:51] sagor999 commented on #85
Hi @f41gh7 ,
you bumped the version of the chart, but I it doesn't seem like that chart was released.
At least helm is failing to find it:
`chart unavailable: chart "victoria-metrics-alert" version "0.3.17" not found in https://victoriametrics.github.io/helm-charts/ repository`

[2021-03-01 07:11] paragor opened #113 "default values for vm/victoria-metrics-alert not work"
**actual**:

[code]

**expected**:
install anything

[2021-03-01 09:23] f41gh7 commented on #85
My bad, didn't bump repo version. Must be ok now.

[2021-03-01 19:10] f41gh7 commented on #113
Hello, vmalert has required parameters, that must be pre-defined by user. Error message was fixed at latest version.

  You need to specify at least group  rules: https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-alert/values.yaml#L178 and datasource.url  https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-alert/values.yaml#L55

 docs

[2021-03-12 18:13] CarpathianUA opened #116 "Possibility to use victoria-metrics-agent Helm chart without scrape.yml config map"
Hey,

It would be great to have a possibility to provision `vmagent` without scrape configuration to use it as a buffering proxy between Prometheus (remote_write) and Victoria Metrics.

As I can see, for now, ConfigMap with scrape.yml configuration is a mandatory component, since Deployment's `containers` definition in a [podTemplate](https://github.com/VictoriaMetrics/helm-charts/blob/b0b4b1eff0b

[2021-03-15 12:31] kevinvirs opened #117 "Fix error with missing "-" in configmap victoria-metrics-agent chart"
https://golang.org/pkg/text/template/
victoria-metrics-agent/templates/configmap.yaml

with values:
[code]
configmap result:
[code]
after fix:

[code]

[2021-03-15 13:17] f41gh7 commented on #117
Thanks! can you add pull request?

[2021-03-15 17:47] f41gh7 commented on #116
added, example command-line: ` helm upgrade -i agent vm/victoria-metrics-agent  --set 'remoteWriteUrls[0]=http://some-host' --set 'config='`

[2021-03-16 09:33] f41gh7 commented on #117
Thanks, added to new release.

[2021-03-16 09:33] #117 closed

[2021-03-16 14:21] #116 closed

[2021-04-05 16:20] sti-jans commented on #34
This is still reproduced with  long name of the releases.
The problem is only with the StatefulSet.
Described in this [issue](https://github.com/kubernetes/kubernetes/issues/64023).
This is not a problem for me, just for your information.

[2021-04-09 14:56] Jean-Daniel opened #126 "Typo in value name: disable_promethues_converter"
operator.disable_promethues_converter should be operator.disable_prometheus_converter

[2021-04-20 01:44] corporate-gadfly commented on #111
From a newbie perspective, isn't that what vmauth could provide? I could be totally off-base.

[2021-04-29 08:20] kevinvirs opened #130 "OOM wmagent"
installed:
vm/victoria-metrics-k8s-stack   0.2.1           1.16.0

error:
vmagent-vm-victoria-metrics-k8s-stack-5ff5cb58c8-8swvf   1/2     OOMKilled   41         3h28m

[2021-04-29 08:27] kevinvirs opened #131 "Can't delete victoria-metrics-k8s-stack"
helm uninstall [release] -n namespace
not fully uninstalled

[code]

can't remove manually

`kubectl delete vmagent -n namespace vm-victoria-metrics-k8s-stack`

not working and can't install again
[code]

[2021-04-29 08:53] f41gh7 commented on #131
Hello, this is bug, need to fix it at helm chart. All crd objects has finalizers, that operator must remove after crd object fully deleted, but helm uninstall removes operator before it finished resources deletion.

 Workaround to remove finalizers:
[code]

[2021-04-29 09:16] kevinvirs commented on #131
[code]
not working :((

[2021-04-29 09:33] f41gh7 commented on #131
Hm, try to simply edit object and remove `finalizers` record, something like:
[code]
 and remove metadata.finalizers field.

[2021-04-30 08:10] kevinvirs commented on #130
how i can boost memory limit for vmagent?
`    Container ID:  docker://eba5366afbadc980eac369a43cd47c45b2f5eb2faf6a8a59f80696c0bf013012
    Image:         victoriametrics/vmagent:v1.58.0
    Image ID:      docker-pullable://victoriametrics/vmagent@sha256:23eade8daadc0acdb5258d4f9c0e6fe4cb1a2bf0ff6fa852faa615e72efa2f9a
    Port:          8429/TCP
    Host Port:     0/TCP
    Args:
      -httpListen

[2021-04-30 09:09] f41gh7 commented on #130
Hello, memory and cpu limits can be changed with values settings:

https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/values.yaml#L196

[code]

[2021-05-03 17:36] lexfrei opened #134 "[victoria-metrics-k8s-stack] How to expose Grafana?"
Hi!
How should I expose grafana? There is no ingress section in values, so it's not clear for me.

[2021-05-04 07:51] kevinvirs opened #135 "victoria-metrics-k8s-stack not install depended charts"
NAME                            CHART VERSION   APP VERSION     DESCRIPTION
vm/victoria-metrics-k8s-stack   0.2.1           1.16.0          Kubernetes monitoring on VictoriaMetrics stack.

with this values.yaml (cropped)
helm install vm vm/victoria-metrics-k8s-stack -f values.yaml
[code]
install only agent/alert/single
[code]
not created cluster roles, kube-state, node-exporter, operator resources

[2021-05-05 05:32] kevinvirs commented on #135
Created pull-request https://github.com/VictoriaMetrics/helm-charts/pull/136
now working correct;y

[2021-05-05 07:31] f41gh7 commented on #134
Hello, this chart uses grafana official chart, so you have to change its parameters. Link for it https://github.com/grafana/helm-charts/tree/main/charts/grafana

 Example of usage, change values.yaml at k8s-stack chart for grafana:

[code]

[2021-05-05 07:35] f41gh7 commented on #131
Must be fixed with new stack version `0.2.2`

[2021-05-05 07:36] f41gh7 commented on #135
merged and bumped new release `0.2.2`

[2021-05-05 11:42] #135 closed

[2021-05-05 11:43] #130 closed

[2021-05-05 11:43] kevinvirs commented on #130
tnx, this solve problem

[2021-05-06 10:00] #131 closed

[2021-05-06 22:09] #134 closed

[2021-05-08 17:26] kevinvirs commented on #126
fixed by https://github.com/VictoriaMetrics/helm-charts/pull/140

[2021-05-11 10:45] misterkramer opened #141 "[victoria-metrics-k8s-stack] vm rules. grafana url label annotation template"
Hi!
It would be cool if the grafana address could be specified in the default rules for vm, example [here](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/templates/rules/vmagent.yaml#L30)
Now this is hard code `localhost:3000` from https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/master/deployment/docker/alerts.yml

[2021-05-12 16:22] misterkramer commented on #141
I checked it today, everything is OK.
 @k1rk thank you very much!

[2021-05-12 21:51] #141 closed

[2021-05-25 17:21] Poweranimal opened #148 "[victoria-metrics-k8s-stack] No resources other than services deployed"
Hi there,

The `victoria-metrics-k8s-stack` does only create crds and services in the namespace `kube-system` but doesn't create any pods in the target namespace.

**Steps to reproduce**
[code]

**Helm Version**
version.BuildInfo{Version:"v3.5.4", GitCommit:"1b5edb69df3d3a08df77c9902dc17af864ff05d1", GitTreeState:"clean", GoVersion:"go1.15.11"}

**Kubectl Version**
Client Version: version.Info{Maj

[2021-05-26 07:34] f41gh7 commented on #126
Thanks!

[2021-05-26 07:34] #126 closed

[2021-05-27 14:51] Poweranimal commented on #148
There seem to be multiple issues with the helm chart.

Prerequisites:
[code]

1. Run `helm install debug vm/victoria-metrics-k8s-stack -f values.yaml -n monitoring`
    Causes error: `Error: template: victoria-metrics-k8s-stack/templates/servicemonitors/grafana.yaml:15:20: executing "victoria-metrics-k8s-stack/templates/servicemonitors/grafana.yaml" at <.Values.grafana.service.portName>: nil point

[2021-05-29 03:11] f41gh7 commented on #148
Sorry, it was broken during latest release.

 Thanks for detailed report, must be fixed now.

[2021-05-29 05:52] k1rk commented on #148
@Poweranimal can you try `helm repo update` and then install again, with grafana

[2021-06-02 12:16] vladimir4862 opened #151 "improve doc for k8s cluster."
this line from README.md in victoria-metrics-k8s-stack doesn't work, If you run this on new cluster (without victoria CRDs)

[code]
output

`Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "VMAgent" in version "operator.victoriametrics.com/v1beta1", unable to recognize "": no matches for kind "VMAlert" in version "operator.victoriametri

[2021-06-08 07:39] f41gh7 commented on #151
Looks like bug. Which helm version are you using?

[2021-06-08 09:50] vladimir4862 commented on #151
Hello.
`version.BuildInfo{Version:"v3.5.3", GitCommit:"041ce5a2c17a58be0fcd5f5e16fb3e7e95fea622", GitTreeState:"dirty", GoVersion:"go1.16"}`

[2021-06-09 10:24] f41gh7 commented on #151
It was surprising for me, but according to documentation of helm, it cannot render charts with `--dry-run`, if it contains crd. So, you have to install chart first.

 https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you

[2021-06-14 12:24] rakesh-von opened #157 "Add multiple -remoteWrite.label args"
Hi,

I would like to add multiple ***-remoteWrite.label*** args like the example below but the present **extraArgs** only takes one arg of ***-remoteWrite.label*** as it is a dictionary type. could you please review my PR which i believe i have fixed it https://github.com/VictoriaMetrics/helm-charts/pull/156?

[code]

[2021-06-14 15:16] ktpktr0 opened #158 "I tried to install Victoria metrics k8s stack on k8s, but failed"
1. Vmsingle cannot bind PVC, indicating that the storageclass is not set. But I didn't find that field at the end of the installation document.

2. Installation of grafana failed, report I nit:CrashLoopBackOff Wrong. I tried to describe and get yaml without detailed error information.

Here is the installation status:
[code]

According to the installation document:

ATTENTION !!! Default values ar

[2021-06-14 22:37] f41gh7 commented on #157
Hello, you can add any number of args to the array flags separated by comma:

[code]

[2021-06-15 09:15] rakesh-von commented on #157
thanks, closing this issue.

[2021-06-15 09:15] #157 closed

[2021-06-17 02:05] fujin opened #163 "vmalertmanager ingress service name is hardcoded"
Hi folks,

When using the `victoria-metrics-k8s-stack` chart, and `alertmanager.spec.serviceSpec.spec.type = NodePort` (expected for an GKE L7Lb Ingress), an additional service is created like `{{CRD_TYPE}}-{{CRD_NAME}}-additional-service.`

When trying to make the vmalertmanager Ingress use that service however, we are met with a few issues:
https://github.com/VictoriaMetrics/helm-charts/blob/mas

[2021-06-23 06:37] vladimir4862 commented on #158
Hi I'm not a member of Victoria team, but just a person passing by...
but maybe you got the manual wrong ?
in my case I didn't add individual files to the startup command, but simply redefined the values in the parent file
like this:
https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#overriding-values-from-a-parent-chart

[2021-06-23 07:32] ktpktr0 commented on #158
I've never used this feature, can you give me an example. Thank you

[2021-06-23 09:50] vladimir4862 commented on #158
Hmmm.. not sure how to explain more, in general you can see example by link.
and maybe this will help you too but not sure:

for example you want to pass admin password for grafana
just put this line
https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml#L323
after this (under "grafana:" )
https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-s

[2021-06-24 03:28] ktpktr0 commented on #158
@vladimir4862  Thank you for your example. I understand. In the chart.yaml file, you can use the values.yaml option. That is, add the option of child chart to the child chart part of values.yaml of parent chat (victoria-metrics-k8s-stack).

But I am in the operator of the child chart, I did not find the storageclass option, so vmsingle will report the error that the storageclass is not set

[2021-06-24 11:00] vladimir4862 commented on #158
@ktpktr0
I'm terribly sorry if my comments seem useless, I'm just trying to help, but if I honestly can't say that I know this topic very well ;)
about your specific problem...

it works for me from the box... so could you show your config or something that can help to get error?

so if you want to set storageclass name (i'm not sure if we talk about the same things, correct me if I'm wrong)
let's

[2021-06-24 11:05] ktpktr0 commented on #158
@vladimir4862 My previous attempt is as like as two peas, but still storageclass is not set after running.

[code]

[2021-06-24 12:33] vladimir4862 commented on #158
@ktpktr0
well... I'm not sure what wrong in your config )
it fully works for me.
sorry that I can't help you here with this error.

in my case:
[code]
`  Warning    ProvisioningFailed  103s (x63 over 16m)  persistentvolume-controller  storageclass.storage.k8s.io "prometheus-data-db" not found`
so i think the trouble in your fist message was resolved ;)

this config is changed storageclass
[code]
m

[2021-06-26 15:21] ktpktr0 commented on #158
@vladimir4862

Thanks for your help, I updated k8s version, vmsingle set up the storage class successfully.

Now it's just grafana's I nit:CrashLoopBackOff , I check the details and sometimes prompt:

[code]

[2021-06-27 02:02] f41gh7 commented on #163
Hello, for me it looks like, its possible to define new variable for service name at `values.yaml`. And introduce templated example at `_helpers.tpl`.

  Something like: `alertmanager.spec.serviceName` or just checking for non-empty:  `if alertmanager.spec.serviceSpec`.

[2021-06-29 10:57] vladimir4862 commented on #158
@ktpktr0

hm.. interesting...
If i was you i'd check this line:
`failed to sync configmap cache: timed out waiting for the con`
check configmap (are they exist? )
check all containers logs in grafana pod.

[2021-06-29 11:07] sachinar opened #164 "Enable https to vmauth"
Hi Team,

How we will be able to enable https for vmauth url for remote_write. We tried tls but no luck. Even documentation is not there for https

[2021-06-29 13:41] Vladikamira opened #165 "extraArgs without value"
Hi! Thanks for your chart, it really awesome!
How arguments without value should be passed to container? for example `-remoteWrite.showURL` for vmagent.
there is no value in this case, but I see no `list` like structure In a chart:
[code]
[link](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/templates/statefulset.yaml#L52) to the line

[2021-06-29 20:52] f41gh7 commented on #165
Flags without values are usually boolean.

 So you can use it like:

[code]

[2021-06-29 21:28] Vladikamira commented on #165
oh, nice! it wasn't obvious for me..
thanks for help, I'm closing issue

[2021-06-29 21:28] #165 closed

[2021-06-30 06:48] ktpktr0 commented on #158
It's almost never going to happen, and now it's working. The container is not accessible due to my local network https://raw.githubusercontent.com I'm not sure.

[2021-06-30 06:48] #158 closed

[2021-07-02 19:53] Vladikamira opened #167 "parameter to choose different scrape file for vmagent"
Is it possible to add value to choosing a scrape config file for `vmagent`? Or there is another way around
[code]

[2021-07-03 13:21] f41gh7 commented on #167
Possible workaround for now add needed option to the `extraArgs` configuration:

https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/values.yaml#L66

 For scrape config:

[code]

 It will produce deployment:

[code]

 And `vmagent` must use the latest arg value.

[2021-07-03 14:35] Vladikamira commented on #167
yep, it works! Thanks 🙏

[2021-07-03 14:35] #167 closed

[2021-07-04 14:41] cwstrommer opened #168 "Incorrect assertion in victoria-metrics-alert/server-deployment.yaml"
victoria-metrics-alert has the following assertion in its `server-deployment.yaml` template:

[code]

I believe that this is incorrect - the alertmanager URL is deterministic when alertmanager is enabled, and therefore `.Values.server.notifier.alertmanager.url` must be provided when alertmanager is **not** enabled.

[2021-07-04 17:05] f41gh7 opened #169 "Create configuration param to disable livenessProbe for vmsingle/vmstorage."
At production setup it may lead to crash loop restart, also livenessProbe doesn't reflect actual state of service.

[2021-07-05 16:21] stephenrob opened #170 "Grafana Default Dashboards - No Data"
I've deployed a VictoriaMetrics Cluster using the operator and have this working fine.

I've just deployed the grafana dashboards using the following values file to generate the dashboards using the k8s-stack helm chart and output them to a file using dry run and the following command.

[code]

**values.yaml**
[code]

This generates the dashboards fine and allows them to be loaded in to grafana. T

[2021-07-06 07:08] f41gh7 commented on #170
Hello,  many default kubernetes dashboards depends on `recording rules`, which executed and ingested to the storage by `VMAlert`.

  So, for cluster case, you have to edit vmalert configuration. For genereated config its located at output  of `victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert.yaml`, change vmsingle to vmcluster - select and insert nodes.

 It should fix this i

[2021-07-06 07:13] f41gh7 commented on #164
Hello,

  Correct me, if I'm wrong. You are using vmauth with following config:

[code]

 and it doesn't work?

[2021-07-06 07:21] sachinar commented on #164
yes it is working for http but we want to try it for https.

[2021-07-06 11:13] stephenrob commented on #170
Thanks @f41gh7 i'd overlooked the VMRule and VMAlert configs when copying them to our kustomize base assuming they were linked to AlertManager which I wasn't ready to setup. Now i've added VMAlert, VMAlertmanager and all the VMRule it's all working a lot better.

Just another VMrule to track down to fix the CPU/Memory Requests on the cluster dashboard and should be good to go.

![CleanShot 2021-07

[2021-07-06 11:21] stephenrob commented on #170
Looks like i have the correct rule loaded just nothing recorded against it yet.

[code]

[2021-07-06 18:52] denisgolius opened #171 "[vmagent chart] Add Horizontal Pod Autoscaler for vmagent"
Add HPA for vmagent helm chart.

[2021-07-08 10:39] stephenrob commented on #170
This is an issue with the upstream recording rules - I've submitted a PR patch for this which should resolve the issue - https://github.com/kubernetes-monitoring/kubernetes-mixin/pull/641

[2021-07-08 12:52] FRosner opened #173 "vmagent sharding in victoria-metrics-agent helm chart"
Hey! Thanks for these amazing helm charts :)

https://docs.victoriametrics.com/vmagent.html#scraping-big-number-of-targets explains that you can configure vmagent to scale horizontally. I tried to figure out if this functionality could be achieved with the current version of https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-agent but I couldn't find any documentati

[2021-07-09 07:17] f41gh7 commented on #173
Hello,
  It can be achieved with multiple installations of vmagent`s helm chart. Provide needed sharding config to each chart installation for example:
[code]

 For advanced automation, you may be interested in `VMAgent` CRD from operator - it supports sharding setup out of box:
https://github.com/VictoriaMetrics/operator/issues/177

[2021-07-09 07:40] FRosner commented on #173
Thanks!

[2021-07-09 07:40] #173 closed

[2021-07-13 10:56] f41gh7 commented on #164
Sorry for late response, it also must work for https connections, but you have to provide valid https certificate for it.  Can you check `vmauth` logs?

 For now, its not possible to make insecure requests or use custom tlsConfig.  I can suggest to create feature request for it at main repo https://github.com/VictoriaMetrics/VictoriaMetrics/issues

[2021-07-13 11:27] sachinar commented on #164
Anyways we achived this using istio virtual service. And our `vmauth` is running on https.

[2021-07-13 11:27] #164 closed

[2021-07-13 11:43] f41gh7 commented on #169
Added at https://github.com/VictoriaMetrics/helm-charts/commit/c8abcb96f40814665eea7f6b5d803120c4d86abc

[2021-07-13 11:43] #169 closed

[2021-07-14 19:34] tenmozes commented on #168
Hi sorry for late response,
You're right the condition should have next
[code]

[2021-07-14 19:47] tenmozes commented on #168
the issues is fixed in https://github.com/VictoriaMetrics/helm-charts/commit/f9ffc15a46d002a2b663aee8a2f2b5fc66d09dc9
and helm chart for vmalert with version 0.4.0 has it

[2021-07-15 13:05] kaihendry opened #176 "How do I work out the user / password for Grafana?"
Is there a good forum to ask questions about:

https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack

Like what is the default admin user/password please? aka GF_SECURITY_ADMIN_PASSWORD

Thank you in advance,

[2021-07-21 14:44] f41gh7 commented on #176
Hello, by default, its randomly generated. It can be retrieved by kubectl get secret. Helper message must be printed after chart install.

 It should be
[code]

[2021-08-04 17:04] alaricljs opened #184 "support k8s stable ingress api on victoria-metrics-single chart"
My existing infra will not deploy the victoria-metrics-single chart as it throws errors caused by the use of apiVersion: networking.k8s.io/v1beta1.  I've hacked together a local copy with apiVersion: networking.k8s.io/v1 and the necessary changes to support that, and deployment works.  It would be great to get these changes into the project so I can track changes/releases automatically.

It looks

[2021-08-10 01:40] jgournet opened #187 "victoria-metrics-cluster: does not have persistentVolume.existingClaim option"
Option is missing to use an existing PVC
=> is it possible to add it please ?

also: in volumeClaimTemplates, is it possible to add a "volumeName" so it can use an existing volume ?

[2021-08-10 04:09] jgournet commented on #187
Created https://github.com/VictoriaMetrics/helm-charts/pull/188 for this issue

[2021-08-16 09:19] f41gh7 commented on #187
Thanks, pr was merged, will be released soon.

[2021-08-16 16:44] challapradyumna opened #189 "existingClaim does not refer PVC in victoria-metrics-single chart"
existingClaim does not create a PVC but does not refer to the provided value in sts persistentVolumeClaim.

https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-single/templates/server-statefulset.yaml

[2021-08-19 19:44] f41gh7 commented on #189
If i understand correctly, it is possible to fix with extraVolumes. Something like:

[code]

[2021-08-20 04:01] challapradyumna commented on #189
Solved it by naming the PVC whatever the chart expects it to be.
Isn't the `exisistingClaim` value supposed to do it automatically. If not docs have to be updated with that.

[2021-08-23 12:45] Vladikamira opened #194 "vmagent has no permissions to get k8s ingresses objects"
I got message like this:
[code]
for configuration on k8s Service Discovery
[code]
as an result, nothing were discovered
Could we add proper role in the Helm chart? Or there is another way around?
Vmagent chart version: `0.7.14`

[2021-08-23 12:58] Vladikamira commented on #194
align permissions with [Prometheus](https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/templates/server/clusterrole.yaml#L36) like chart works for me

[2021-08-24 12:24] Jeinhaus opened #195 "[victoria-metrics-single] Affinity is templated twice in deployment if set"
When using the `victoria-metrics-single` chart with the statefulSet disabled and using any value for the `server.affinity` value, the chart fails to render with this error:
[code]

A minimal `values.yaml` file looks like this:

[code]

I think the reason is that the [server-deployment.yaml](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-single/templates/server-d

[2021-08-24 17:31] tenmozes commented on #195
Hi thank you for an issue
the fix is https://github.com/VictoriaMetrics/helm-charts/commit/1780640e15fbced196d4586decdedf935f33b491 commit
the new version `0.8.3` contains it

[2021-08-24 17:32] #195 closed

[2021-08-25 08:14] Jeinhaus commented on #195
Thank you for the quick fix. Just one more quick question: Why is the updated Chart not available in the Helm repository yet?

[code]

[2021-08-27 10:44] cykl opened #196 "How to configure vmagent remoteWrite relabel configuration?"
Using victoria-metrics-agent chart, I had like to configure `remoteWrite.relabelConfig`. However, chart doesn't seems to support such configuration file as first class citizen.

My limited knowledge of Helm / K8s drives me toward something like this:

[code]

And then manually manage `vmagent-relabel-configmap`.

Is there a better way to do that? If not, wouldn't it make sense to provide a better

[2021-09-01 15:07] f41gh7 commented on #196
Hello, i think, that your solution is good.

  Its possible to add feature with relabel-configmap auto creation by helm chart. But it will be complicated to manage it per remoteWrite url.

 As alternative solution, you can try to use `VMAgent` managed by operator. It allows to define inline relabeling configuration https://github.com/VictoriaMetrics/operator/blob/master/docs/relabeling.MD#inline-e

[2021-09-01 19:03] f41gh7 commented on #194
must  be fixed at chart version
```victoria-metrics-agent                         	0.7.25```

Note, you have to upgrade vmagent to `v1.65.0` + version.

[2021-09-01 19:03] #194 closed

[2021-09-02 05:53] cesarmira opened #199 "Error installing vm-operator crd's"
Hi,

I'm getting this error while trying to install the vm-operator crd:

`helm install victoria-metrics vm/victoria-metrics-cluster -f values.yaml -n monitoring`
`
Error: unable to build kubernetes objects from release manifest: SchemaError(com.victoriametrics.operator.v1beta1.VMAlertmanagerConfig.spec.route.routes): array should have exactly one sub-item
`

We are running eks 1.17. Any ideas on

[2021-09-02 08:37] f41gh7 commented on #199
It looks like kubernetes issue, investigating it.

 Temprorary workaround - use legacy CRD version:

[code]

[2021-09-02 09:12] f41gh7 commented on #199
Must be fixed at operators chart `0.2.2`

[2021-09-07 03:06] arctan90 commented on #199
the same error comes to me, while installing vmoperator by "helm install".
File:  templates/crd.yaml
`
   4290                   routes:
   4291                     description: Child routes.
   4292                     items:
   4293                       x-kubernetes-preserve-unknown-fields: true
   4294                     type: array
   4295                     x-kubernetes-preserve-unknown-fi

[2021-09-07 05:11] f41gh7 commented on #199
Hello, can you try new version?
[code]

[2021-09-07 14:37] sagor999 opened #200 "vmalert chart: add an option to enable service monitor"
vmalert exposes its metrics, but there is no way to scrape them right now.
Similar to `victoria-metrics-cluster` chart, please add an option to enable service monitor to be able to scrape vmalert's metrics via prometheus.

Thank you!

[2021-09-08 06:45] arctan90 commented on #199
it works, thank you so much.

[2021-09-15 05:46] #199 closed

[2021-09-20 11:53] #187 closed

[2021-09-23 09:24] f41gh7 commented on #200
Should be available since `vm/victoria-metrics-alert                         	0.4.4        	v1.65.0  `

[2021-09-23 09:24] #200 closed

[2021-09-23 12:57] transacid opened #204 "regression introduced by #197"
since #197 the node-exporter VMServiceScrape uses a label that is not provided by the [helm chart ](https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-node-exporter/templates/service.yaml#L10) and _has_ to be set via values. unless one sets `app.kubernetes.io/instance` the node-exporter will never get scraped because the label is not set by the chart and `matchLabels`

[2021-09-23 14:26] nevlkv opened #205 "Starts vmalert with custom port failed"
Starting vmalert with  `httpListenAddr=:my_any_port` is failed because pod port is hard coded in deployment

            - name: http
              containerPort: 8880
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 15
          livenessProbe:
            tcpSocket:
              port:

[2021-09-23 18:12] alaricljs opened #206 "kubeDns not supported?"
Seems like you copy/pasted the coreDns values stanza from kube-prometheus-stack.  According to the comment: https://github.com/VictoriaMetrics/helm-charts/blob/fa853d21613b1f479c14a50b5996fd467a6d9e63/charts/victoria-metrics-k8s-stack/values.yaml#L740

There should be a kubeDns section, however it's not there.  Is there a reason to not support kubeDns, or can that get added in?

[2021-09-24 08:44] belm0 opened #207 "victoria-metrics-single: add config support for relabelConfig"
the chart values should support a global relabel config for ingested metrics, similar to the `scrape` variable (generating a configMap, etc.)

https://docs.victoriametrics.com/#relabeling

currently we're using `--relabelConfig` and a separately deployed file, but I'd like a coherent deployment including a configMap for relabel config

(Note that the victoria-metrics-agent chart supports relabel c

[2021-09-24 17:14] sagor999 commented on #200
@f41gh7 I got this error when I tried to enable service monitor:
[code]

[2021-09-25 06:30] taintedkernel commented on #187
I noticed this needed to be solved in the single-node version as well so I drafted https://github.com/VictoriaMetrics/helm-charts/pull/212

[2021-09-25 17:18] f41gh7 commented on #200
sorry, damn copy-paste (

 It must be fixed at the latest version.

[2021-09-25 21:02] f41gh7 commented on #204
Must be fixed at the latest chart version

[2021-09-25 21:03] f41gh7 commented on #206
Was added at the latest chart version

[2021-09-27 05:55] #206 closed

[2021-09-27 05:55] #204 closed

[2021-09-27 06:00] #176 closed

[2021-09-27 10:08] tgruenert commented on #112
see https://github.com/VictoriaMetrics/helm-charts/pull/146
could it be closed?

[2021-09-27 16:14] sagor999 commented on #200
@f41gh7 I am getting a different error now:
[code]

[2021-09-27 17:27] pollynesterovich opened #221 "Pod "CrashLoopBackOff" after upgrade to 1.66.2"
After trying to upgrade vmagent from version 1.63.0 to 1.66.2, the pod crashes constantly "CrashLoopBackOff". There are no errors in the logs, the pod dies due to oom. Optimal memory and processor limits set. There were no such problems before the upgrade. Please tell me what is the reason for the increase in resources for consumption and how to fix it in order to switch to the new version of vmag

[2021-09-27 22:21] f41gh7 commented on #221
Can you temporary increase memory limit until it doesn't crash. Then collect memory profile according to doc https://docs.victoriametrics.com/#profiling

 And attach it to this issue?

 Memory profile for 1.63.0 version will be useful as well.

[2021-09-28 13:18] pollynesterovich commented on #221
We tested upgrading to 1.65.0 and everything works fine, but problems with 1.66.0.
[1.63.0.zip](https://github.com/VictoriaMetrics/helm-charts/files/7244270/1.63.0.zip)
[1.66.0.zip](https://github.com/VictoriaMetrics/helm-charts/files/7244271/1.66.0.zip)

[2021-09-28 15:51] aeciopires commented on #184
Hi @alaricljs!

This issue will be resolved after [this Pull Request](https://github.com/VictoriaMetrics/helm-charts/pull/226) merge.

[2021-09-29 09:24] transacid commented on #204
cool that works. thank you!

[2021-09-29 10:06] pollynesterovich opened #228 "vmalert: Required value: port name or number is required."
I get the following error when I try to upgrade the vmalert:
Error: UPGRADE FAILED: cannot patch "vmalert-victoria-metrics-alert-server" with kind Ingress: Ingress.extensions "vmalert-victoria-metrics-alert-server" is invalid: spec.rules[0].http.paths[0].backend: Required value: port name or number is required.

part values:
[code]
How to create an ingress for a vmalert?

[2021-10-03 14:31] paragor opened #230 "Need info how to set flags via env"
There is no info info about how to set flags via env in readme.md in charts. Especially about how to set repeating flags.

[2021-10-06 04:19] psinghsb opened #232 "Ingress error on installing single-node victoria helm"
Enabling ingress flag in value.yaml is throwing following error: Error: UPGRADE FAILED: unable to recognize "": no matches for kind "Ingress" in version "networking.k8s.io/v1beta1"

Helm Version:
Version.BuildInfo{Version:"v3.7.0", GitCommit:"eeac83883cb4014fe60267ec6373570374ce770b", GitTreeState:"clean", GoVersion:"go1.17"}

Kube Version:
Client Version: version.Info{Major:"1", Minor:"22", GitVe

[2021-10-06 17:37] wappam opened #233 "Failed to watch *v2beta2.HorizontalPodAutoscaler"
Chart: vm/victoria-metrics-operator
Chart Versions: 0.1.19 to 0.31
GKE : 1.19.12-gke.2101

The vm operator is spamming logs with the following error:
[code]

Its seems like the Clusterrole for the victoria-metrics-operator is missing the verb `watch` on the autoscaling apiGroups. Like this:
[code]

[2021-10-06 19:19] tenmozes commented on #230
thank you for contribution, closing

[2021-10-06 20:10] tenmozes commented on #184
@aeciopires thank you for contribution it's amazing :)

[2021-10-06 20:19] tenmozes commented on #168
close an issue as fix is available since 0.4.0 version

[2021-10-06 20:19] #168 closed

[2021-10-10 09:32] f41gh7 commented on #233
Its shouldn't be an issue with rbac, in this case permission denied error appears.  Seems like, something wrong with API server itself. Try to upgrade your kubernetes version to 1.20+. Otherwise, ignore this error.

 Also, can you show output for following commands:
[code]

[2021-10-12 01:02] Azenet opened #238 "HorizontalPodAutoscaler cannot be used on cluster chart"
Chart: victoria-metrics-cluster

Hi,

The HorizontalPodAutoscaler cannot currently be used because it is using `spec.metrics` which is available in `autoscaling/v2beta1` but the resource is still using `autoscaling/v1`. The resource should be using `autoscaling/v2beta2` if it is possible regarding compatibility, otherwise it should resort to using `autoscaling/v1` with `targetCPUUtilizationPercent

[2021-10-12 15:59] sachinm24 opened #239 "Upgrade to latest operator version failed"
Helm upgrade fails.
[code]
[upgrade.log](https://github.com/VictoriaMetrics/helm-charts/files/7331510/upgrade.log)

Only forced upgrade worked. I had to delete the operator service as well

[2021-10-12 19:28] wappam commented on #233
Hi,

Now I am running on a K8S cluster v1.20.10-gke.301, and the error still being logged.

But when I add the verb `watch` to the rbac and restart the vmoperator pod, the error goes away.

[code]

[2021-10-13 13:59] vterdunov opened #241 "[victoria-metrics-k8s-stack] Incorrect generated VMRule name"
Hi. Thanks for the product.
I faced with an issued with generated a VMRule name.

I tried to install helm chart
Got error:
[code]

I guess it happened by
https://github.com/VictoriaMetrics/helm-charts/blob/0c5039d0d38eb5c513c6933541e403bd0197a95e/charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-histogram.rules.yaml#L11

"kube-apiserver-histogram.rules" contains dot character. And u

[2021-10-13 14:57] vterdunov opened #242 "[victoria-metrics-k8s-stack] Allow to create dashboards and datasources without install Grafana itself"
:hand: This is a Feature Request.

I want to use `victoria-metrics-k8s-stack` helm chart and install dashboards and VM's datasources, but i don't want to install Grafana. Because i have installed one.
An example how it [implemented in prometheus helm chart](https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/templates/grafana/configmap-dashboards.yaml#L1).

[2021-10-19 16:47] pollynesterovich commented on #221
Please tell me when the answer will be given, the memory usage when upgrading to 1.66 or 1.67 versions has almost doubled, how can I fix this?

[2021-10-20 14:34] azlydnev opened #247 "misprint"
Small misprint. No " at row begin
https://github.com/VictoriaMetrics/helm-charts/blob/8a19d75bd0ce1c87ebd41cf5f0ca2da0fa6be7a0/charts/victoria-metrics-cluster/templates/NOTES.txt#L72

[2021-10-27 19:11] #242 closed, assigned to nobody

[2021-10-28 22:49] sjtindell opened #251 "extraScrapeConfigs hard to set"
Using the victoria-metrics-single helm chart

https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-single

I am trying to set extraScrapeConfigs.

I would like to be able to use a values file vmetrics-single-values.yaml like

[code]

and

[code]

or set this on the command line with a file like extraScrapeConfigs.yaml contents

[code]

and

[code]

But the way the cod

[2021-10-29 08:30] eugenegoncharuk opened #252 "Alert is shown even no restart happened for vm-agent"
I have a default rules setup for my cluster.
This rule always sending me alerts TooManyRestarts with the definition below

[code]

If I check my "vm-agent" pods they haven't been restarted any time.
Maybe it's worth to rewrite the rule for a different metric?

[2021-11-07 20:02] tenmozes commented on #247
thank you fixed

[2021-11-07 20:02] #247 closed

[2021-11-09 02:35] woodliu opened #255 "Add more description about the parameters"
Hi, could you add more description about the parameters? There is so few infromation about them, we are not sure how use them...
![image](https://user-images.githubusercontent.com/9976943/140851197-8af8a5ae-1129-4354-bc04-bac19edba9a6.png)

[2021-11-09 20:19] tenmozes commented on #238
Hi, sorry for late response the hpa should be fixed in 0.9.12 version of cluster helm chart

[2021-11-09 20:19] #238 closed

[2021-11-23 17:13] bjolivot opened #257 "victoria-metrics-auth chart.fullname missing ?"
Hello,
I can't use chart victoria-metrics-auth

The error is :
_Wait helm template failed. Error: template: victoria-metrics-auth/templates/service-monitor.yaml:24:10: executing "victoria-metrics-auth/templates/service-monitor.yaml" at <include "chart.matchLabels" .>: error calling include: template: no template "chart.matchLabels" associated with template "gotpl" Use --debug flag to render out in

[2021-11-29 12:17] aspekt112 opened #260 "ClusterIssuer support for victoria-metrics-operator/certmanager.yaml"
Hello! Can you add support `ClusterIssuer` at `helm-charts/charts/victoria-metrics-operator/templates/certmanager.yaml`? For now i forced to create `Issuer` object at VicrotiaMetrics Operator namespace or use self-signed certificate.
Also `admissionWebhooks.certManager.issuerName` has to be a map like below, not a string.
[code]

[2021-11-30 14:22] f41gh7 commented on #252
Yes, it seems to be, that alert logic is incorrect for kubernetes workloads cc @hagen1778

[2021-11-30 15:00] f41gh7 commented on #257
must fixed at the latest release

[2021-11-30 15:02] f41gh7 commented on #260
Yes, simple change to map must solve it. Latest release 0.5.1 must support it

[code]

[2021-11-30 15:19] #260 closed

[2021-12-01 12:49] hagen1778 commented on #252
@f41gh7 why do you think the logic is incorrect?

@eugenegoncharuk could you please show query expression result (grafana screenshot maybe) in the time when alert triggered? Thanks!

[2021-12-02 10:10] hacker opened #261 "readinessProbe in vmagent is not compatible with `http.pathPrefix`"
When used with `http.pathPrefix` readiness probe never succeeds, because

[code]

apparently, some direct control over readiness probe or indirect — by handling httpPrefix specifically — would help?

[2021-12-09 07:03] nevlkv opened #263 "Add content files used remoteWrite.urlRelabelConfig in chart"
If defined array  remoteWrite.urlRelabelConfig you need creates and mount files with rules  before deploy chart

Is it availible  create custom configmaps with content from values?

[2021-12-09 07:45] nevlkv commented on #263
[maybe the order will not matter](https://github.com/VictoriaMetrics/VictoriaMetrics/issues/467) ?
[code]

[2021-12-19 18:49] cristicalin opened #265 "[victoria-metrics-k8s-stack] please add ability to use external victoria metrics cluster"
I would like to use an external VM cluster in which to publish metrics with `victoria-metrics-k8s-stack` by disabling the grafana, alertmanager and vmsingle or vmcluster objects but keep just the vmagent and vmalert agents to publish to a remote VM cluster.

I see that the [VMAgent CRD](https://github.com/VictoriaMetrics/operator/blob/master/docs/quick-start.MD#vmagent) and [VMAlert CRD](https://g

[2021-12-21 10:57] ymrsmns opened #266 "[victoria-metrics-agent] Error pull chart version "0.7.36""
Hello
helm-operator return error
[code]

[2021-12-21 12:08] f41gh7 commented on #266
It was an issue with chart release, can you check it now?

[2021-12-21 13:33] ymrsmns commented on #266
thank you, resolve problem
/close

[2021-12-21 13:33] #266 closed

[2021-12-22 02:50] ktpktr0 opened #267 "How is Victoria metrics k8s stack associated with vmagent"
I installed the latest version of chart for Victoria metrics k8s stack, and it works properly. But I checked the vmagent configuration, but there is no remotewrite configuration. How does it work. I also check vmagent's chart, and the default remotewrite is empty.

[2021-12-22 12:32] k1rk commented on #265
hi @cristicalin. to write to external VM cluster you can just specify remote write in spec of vmagent
example:
`values.yaml`
[code]

[2021-12-22 19:14] cristicalin commented on #265
Thank you @k1rk for the help, indeed I missed that you can add anything in the spec.

[2021-12-22 19:14] #265 closed

[2022-01-18 08:51] dimakrapiva opened #270 "add externalTrafficPolicy and healthCheckNodePort to spec services"
Please add externalTrafficPolicy and healthCheckNodePort to spec services for serviceType LoadBalancer
https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip

[2022-01-21 18:16] #257 closed

[2022-01-24 19:56] jmenan opened #271 "bug with alertmanager-prometheusRule on victoria-metrics-k8s-stack helm chart"
Hello,

there seems to be an error in the chart helm `victoria-metrics-k8s-stack`:

In this chart the prometheusrules especially for the alertmanager use in their expressions a filter on the job.

This job filter in the prometheusRules uses this: `job="alertmanager-main"`

But if we deploy an "alertmanager" with the Helm chart, the job has the value: `vmalertmanager-victoria-metrics-k8s-stack`

So

[2022-01-27 12:53] PabloL007 opened #272 "[victoria-metrics-k8s-stack] [Question] Has VMCluster already been added to the k8s stack chart?"
I've just noticed that even though VMCluster is still unticked in the [todo.md](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/todo.md) file for the `victoria-metrics-k8s-stack` helm chart, there was a pull request 6 months ago titled "added VMCluster" that seemed to add it (see [here](https://github.com/VictoriaMetrics/helm-charts/pull/178)). Is there

[2022-01-27 17:19] Alon-Katz opened #273 "Multi Retention Setup"
Hey,

I was wondering, how can the Multi Retention Setup described here: https://docs.victoriametrics.com/guides/guide-vmcluster-multiple-retention-setup.html be implemented using the helm chart?
I cant deploy different retention periods in the same helm chart deployment, but I can deploy multiple helm charts. The issue is the vmselect that should communicate with all the vmstorages that was deplo

[2022-01-28 19:38] wappam commented on #233
I have tested the helm chart version 0.6.1 and I confirm that the problem is fixed.

Thank you very much !

[2022-01-28 19:38] #233 closed, assigned to f41gh7

[2022-02-01 16:48] ravvereddy opened #275 "unable to recognize "k8s-stack.yaml": no matches for kind"
helm template k8s-stack vm/victoria-metrics-k8s-stack -f https://raw.githubusercontent.com/VictoriaMetrics/helm-charts/master/charts/victoria-metrics-k8s-stack/values.yaml -n default > k8s-stack.yaml

kubectl create -f k8s-stack.yaml
podsecuritypolicy.policy/k8s-stack-grafana created
podsecuritypolicy.policy/k8s-stack-grafana-test created
podsecuritypolicy.policy/k8s-stack-prometheus-node-exporter

[2022-02-03 10:14] PabloL007 commented on #241
Just encountered the same issue with the node-exporter.rules template: https://github.com/VictoriaMetrics/helm-charts/blob/d17c2d5dbf8a9db3a3e77ca2b6478874a3ee4da1/charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.rules.yaml#L11

[2022-02-03 16:15] PabloL007 opened #278 "[victoria-metrics-k8s-stack] kubernetes-system-kube-proxy rules are created independently of the value of the kubeProxy.enabled and defaultRules.rules.kubernetesSystem attributes"
I just noticed that even through I have `kubeProxy.enabled` and `defaultRules.rules.kubernetesSystem` set to false I still get the `KubeProxyDown` alert, looking at the template for the `kubernetes-system-kube-proxy` rules I noticed that the condition is just checking to see if you've enabled creation of the default rules but nothing else:

https://github.com/VictoriaMetrics/helm-charts/blob/7320c

[2022-02-03 18:15] f41gh7 commented on #275
In case of manual install with helm template, you have to install CRD first kubectl apply -f https://raw.githubusercontent.com/VictoriaMetrics/helm-charts/master/charts/victoria-metrics-k8s-stack/crds/crd.yaml

 crd install happen with hook, which not included into helm template command.

[2022-02-03 18:15] #275 closed

[2022-02-03 19:16] f41gh7 commented on #272
updated TODO

[2022-02-03 19:16] #272 closed

[2022-02-03 19:17] f41gh7 commented on #278
must be fixed at `0.6.8` version

[2022-02-03 19:17] #278 closed

[2022-02-03 19:17] f41gh7 commented on #271
must be fixed at `0.6.8` version

[2022-02-03 19:17] #271 closed

[2022-02-03 19:23] f41gh7 commented on #267
remoteWrite url is set with _helpers magic https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/templates/_helpers.tpl#L131

  Additional remoteWrite can be added with
[code]

[2022-02-03 19:23] #267 closed

[2022-02-03 19:24] f41gh7 commented on #263
It's not possible for now and requires complex logic. It's better to setup it manually with external configmap or use operator based deployment:  https://docs.victoriametrics.com/operator/relabeling.html

[2022-02-09 09:24] weibo-zhao opened #280 "Alertmanager status level=error component=nflog msg="Running maintenance failed" permission denied"
I am using [charts/victoria-metrics-alert](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts) to configure the alertmanager, but I found the following errors in the alertmanager pod logs:
[code]
Inside the pod, it also shows the permission denied error
[code]
even if I have defined the fsGroup in the values.yaml like following:
[code]
It is interesting to find that the [`securityCo

[2022-02-10 09:23] k1rk commented on #241
thanks for opening issue @PabloL007

adressed this in 6a35cb4ab75a2a66f6f39389ea1cf43e1c522e92

[2022-02-16 20:38] r0fls opened #285 "Is there a helm chart or CRD for deploying the VM UI?"
For context, I am missing the prometheus UI which I frequently utilize to debug target detection and investigate issue with scraping configuration. Is there a corresponding view or method for diagnosing target discovery issues with Victoria Metrics? I see the VMUI below, though I'm not sure it will provide the desired functionality yet. Is there a way to deploy this, via helm chart or CRD? Thank y

[2022-02-18 17:35] f41gh7 commented on #270
Was partially added to the vmalert,vmagent, vmsingle and vmauth.

 Other charts can be updated later.

[2022-02-18 17:35] f41gh7 commented on #280
Thanks for pull request was merged and released.

[2022-02-18 17:35] #280 closed

[2022-02-20 12:20] Alon-Katz commented on #273
Thanks @f41gh7!

Are there any plans to support providing only the headless service names for vmstorage? Instead of manually providing the list of vmstorage instances.

This will make it much easier to maintain, and will open a lot more possibilities. For example using HPA (with downscale behavior disabled) for vmstorage instances, this way when the HPA will autoscale the vmstorage then the headle

[2022-02-21 06:57] Jeinhaus opened #287 "[victoria-metrics-single] upgrade to 0.8.18 fails with "executing victoria-metrics-single/templates/server-service.yaml at <.Values.service.healthCheckNodePort>: nil pointer evaluating interface {}.healthCheckNodePort""
When upgrading the `victoria-metrics-single` chart to `0.8.18` the following error is reported:

[code]

I believe this is due to a missing  `server` key  [here in the server-service.yaml](https://github.com/VictoriaMetrics/helm-charts/blob/27872131f84386cf43bd0f2a6ae22d710fb897fb/charts/victoria-metrics-single/templates/server-service.yaml#L82).

[2022-02-21 08:20] #287 closed

[2022-02-21 13:02] korservick commented on #287
Need to patch this in victoria-metrics-agent/templates/service.yaml, victoria-metrics-auth/templates/service.yaml, victoria-metrics-alert/templates/server-service.yaml either?

[2022-02-21 13:49] f41gh7 commented on #287
It should be fine, only vmsingle chart has different path for service at values.yaml for some reason...

[2022-02-21 14:00] korservick commented on #287
Error: UPGRADE FAILED: template: victoria-metrics-alert/templates/server-service.yaml:41:18: executing "victoria-metrics-alert/templates/server-service.yaml" at <.Values.service.healthCheckNodePort>: nil pointer evaluating interface {}.healthCheckNodePort

[2022-02-21 14:17] bon3o opened #289 "Ability to add vmrules from vmalert.spec"
In case we use k8s-stack deployed by argocd it would be great to be able to add VMRules by specifying them in spec in values.yaml just as we do with targets through spec.inlineScrapeConfig. It will let us make the sync process to be more transparent.

[2022-02-21 14:40] Jeinhaus commented on #287
Has this been released yet? See https://github.com/VictoriaMetrics/helm-charts/pull/288#issuecomment-1046610688

[2022-02-21 17:08] f41gh7 commented on #287
It's another issue with vmalert. I've fixed it at the latest release. Sry, copy-paste.

[2022-02-22 06:29] Jeinhaus commented on #287
Mh, but the version in the [Chart.yaml](https://github.com/VictoriaMetrics/helm-charts/blob/45f5562a16cb68f203ba7474d9a44d604b45d979/charts/victoria-metrics-single/Chart.yaml#L5) is still 0.8.18. Should I have bumped this?

[2022-02-24 19:37] weibo-zhao commented on #289
Total agree, I also want to add additional vmrules in k8s-stack chart, but I didn't find where to add. Did you successfully add them?@bon3o

[2022-03-02 10:33] avtalabirchuk opened #292 "Starting from release 0.7.30 and higher. Issue when deploying Ingress to k8s < 1.19"
I have k8s cluster < 1.19 version. When updating a version starting from 0.7.30 vm/victoria-metrics-agent.

Helm chart is not updated. log: **Error: UPGRADE FAILED: unable to recognize "": no matches for kind "Ingress" in version "networking.k8s.io/v1"**

I look at the code https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/templates/_helpers.tpl#L84, the vers

[2022-03-14 08:01] czhfe opened #293 "The first installation prompts that crd resources already exist"
[code]

[code]

[2022-03-16 12:00] samba1112 opened #294 "Not able to convert prometheus-operator objects"
I have tried installing prometheus-k8s-stack and then installing vm-stack,
For replacing prometheus with victoria metrics completely but with prometheus crds
I am not able to do it
And in values file of artifacthub of vm operator & vm stack its given different boolean values to convert prometheus objects by default.

Attaching screenshots of values of vm operator and vm stack

SS of vm operator
![

[2022-03-17 19:49] alaricljs opened #295 "k8s-stack: vmsingle expose influx port?"
Is there a built-in way to expose the influx port with the k8s-stack chart?  I have gotten vmsingle listening inside the container, but haven't found anything in the chart to make that an endpoint or service in k8s.  What would be the best way to achieve this?

Thanks

[2022-03-21 11:15] rmalenko opened #297 "Hard-coded --storageDataPath"
I  think the `mountPath` shouldn't be the same as `--storageDataPath`

For example, volume mounted to `/storage`, and I would like to have additional directory `./data_user_added` which I can pass by `--storageDataPath`.
It should be something like this. `--storageDataPath=/storage/data_user_added`

Now I can't do it because I have got two arguments. First is hard-coded `--storageDataPath=/storage

[2022-03-22 10:45] venkatbvc opened #298 "how to specifiy "-promscrape.cluster.memberNum" in vmagent helm chart when multiple replicas are configured"
In VmAgent chart:

- statefulset is enabled
- replicaCount is set to 2
- under extra args promscrape.cluster.membersCount is set to 2
how do we give promscrape.cluster.memberNum argument to the vmagent?

Currently k8s doesn't support providing statefulset ordinal index to the pod. A wrapper script needs to be added before starting vmagent. This will not work if distroless images are used.

Will it

[2022-03-22 15:41] evaneaston opened #299 "alertmanager deployment checksum annotation doesn't support customizations"
The checksum added to [alertmanager/deployment](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml#L27), always computes the value in the `victoria-metrics-alert` template `/alertmanager-configmap.yaml` ignoring any customizations.

If a user specifies a custom `alertmanager.config` tree, the config yaml should be checksu

[2022-03-22 16:41] #299 closed

[2022-03-23 10:31] samba1112 opened #300 "k8s-stack doesnt have affinity / Nodeselector enabled"
Tried under spec of vm cluster in k8s-stack getting error while upgrading
[code]
same way for nodeselector getting same issue.
But when i see values of individual helm charts like for vmsingle they enabled it

[2022-03-23 10:50] samba1112 commented on #300
Issue solved when i use like this  for each component
[code]

[2022-03-23 10:51] #300 closed

[2022-03-30 19:27] drsheff opened #301 "How to change Slack title url"
Hi, everyone. I can't find value to change url link in title. I've got url like - http://vmalertmanager-vm-operator-victoria-metrics-k8s-stack-0:9093/#/alerts?receiver=slack-monitoring

How I can change that?

[2022-04-01 08:45] lysyy commented on #293
I have the same problem.
`W0401 11:15:34.308771  581303 warnings.go:70] policy/v1beta1 PodSecurityPolicy is deprecated in v1.21+, unavailable in v1.25+
Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: CustomResourceDefinition "vmagents.operator.victoriametrics.com" in namespace "" exists and cannot be imported into the current

[2022-04-01 21:11] b-a-t commented on #151
Being newbie for all EKS/k8s/helm shebang I hit the same error following the instructions and got frustrated and stuck for quite a while, until risked to go farther despite the failure with `--dry-run`.

So please, add a note that for the initial run while CRDs are not created `--dry-run` have to be skipped.

[2022-04-14 20:08] sreejith-vk opened #305 "victoria-metrics-alert chart - How to configure recording rule through victoria-metrics-alert chart ?"
How to configure recording rule through victoria-metrics-alert chart ?

Can we only configure alerts through the chart?
There is only alerts mentioned here : https://github.com/VictoriaMetrics/helm-charts/blob/28867177d708e254fd0342521cb949d603344b70/charts/victoria-metrics-alert/values.yaml#L201

[code]

[2022-04-18 04:20] yuswitayudi commented on #305
UP!

[2022-04-18 08:53] sreejith-vk commented on #305
Do you mean in configmap, I can provide recording rules and also under config I can provide alerts groups? Both at the same time?
I see this condition:
 https://github.com/VictoriaMetrics/helm-charts/blob/6ead34d77e6988939c63b8f5243ff20042cc49d3/charts/victoria-metrics-alert/templates/server-deployment.yaml#L3

[2022-04-18 19:02] r0fls opened #309 "vmstorage pod fails readiness check with no error logs"
Hi,

We are seeing the vmstorage pod fail the readiness check:

[code]

However, I don't see any error logs coming from the pod. Or, anything helpful in the INFO level logs either. Is there a known procedure for debugging this scenario? Everything still seems to be working, so it could just be something like too short of a timeout on the readiness check 🤔

[2022-04-19 02:59] f41gh7 commented on #309
Common reason for probe failures is high CPU utilization. I would recommend to remove readiness and liveness probe, use only startUp probe for correct rolling update.

[2022-04-19 08:41] vinogradovia opened #311 "victoria-metrics-k8s-stack/_helpers: port datatype mismatch"
Hello, I found a data type mismatch for vmsingle.spec.port, vmcluster.spec.vminsert.port, and vmcluster.spec.vmselect.port in templates for variables such as:
- "victoria-metrics-k8s-stack.vmSelectEndpoint"
- "victoria-metrics-k8s-stack.vmSingleInsertEndpoint"
- "victoria-metrics-k8s-stack.vmClusterInsertEndpoint"

Example for vmsinglespec:
https://docs.victoriametrics.com/operator/api.html#vmsing

[2022-04-19 08:41] vinogradovia commented on #311
#310

[2022-04-19 16:22] farmerluo opened #312 "alertmanager.rules.yaml should not use a fixed namespace: monitoring"
alertmanager.rules.yaml should not use a fixed namespace: monitoring

    - alert: AlertmanagerClusterFailedToSendAlerts
      annotations:
        description: The minimum notification failure rate to {{`{{`}} $labels.integration {{`}}`}} sent from any instance in the {{`{{`}}$labels.job{{`}}`}} cluster is {{`{{`}} $value | humanizePercentage {{`}}`}}.
        runbook_url: {{ .Values.defaultRules

[2022-04-27 13:57] enp opened #314 "How to configure alertmanager service from victoria-metrics-k8s-stack as NodePort"
Can't find any way to configure alertmanager service from victoria-metrics-k8s-stack as NodePort

Found serviceSpec in https://docs.victoriametrics.com/operator/api.html#vmalertmanagerspec and https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml#L29 but can't understand what ```include "vic

[2022-04-28 05:36] enp commented on #314
Temporary fixed local file ```templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml``` in chart like so:

[code]

So I see updated resource in ```helm upgrade ... --dry-run --debug```, but no effect in ```kubectl describe svc vmalertmanager-vm-stack-victoria-metrics-k8s-stack -n monitoring``` - type is still ```ClusterIP```. Bug in operator or I'm using it in wrong way?

[2022-04-28 12:00] nevlkv opened #315 "Helm chart Vmagent failed when env empty"
last release with  [empty env](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/templates/statefulset.yaml#L119) brake deploy

with

[code]

for resolve:
[code]

[2022-04-28 14:02] #315 closed

[2022-04-28 14:03] tenmozes commented on #315
Please try new version of vmagent, the fix is in https://github.com/VictoriaMetrics/helm-charts/commit/a9a540064c3ce47975554a9d28b35d30bfb19c7b

[2022-04-28 17:59] enp commented on #314
Looks like it works different in different cases

I can create alertmanager with service type=NodePort directly with VMAlertmanager resource:

[code]

But I can't do the same with helm:

[code]

But even in this case VMAlertmanager resource looks similar to directly created:

[code]

So why alertmanager with service type=NodePort can't be created from VMAlertmanager via helm but can be created by

[2022-04-29 10:50] PawlikMateusz opened #317 "Alertmanager configuration default values are not overritten [victoria-metrics-k8s-stack]"
Hi, when I am adding a new alertmanager configuration, alertmanager secret that holds alertmanager.yaml file is getting merged with some default values. Example below:
Alert manager section in values.yaml file:
[code]
When I am doing helm upgrade i got this output (content of vmalertmanager-vm-victoria-metrics-k8s-stack-config)
[code]
Is there a way to get rid of default values and apply only my c

[2022-04-29 13:28] ipeacocks opened #319 "Can't use one port for TCP/UDP with LoadBalancer service type (OpenTSDB input)"
I use Helm for installation of clustered VM version and OpenTSDB input. That's why in `values.yaml` I am using `opentsdbListenAddr` option:
[code]
And service `type: LoadBalancer`
As results it produces such resulted yaml:
[code]
So `opentsdbListenAddr` gotta open two OpenTSDB ports TCP and UDP (can OpenTSDB even work on UDP?). As a result of such description K8s opens only one UDP port:
[code]
Of

[2022-04-29 15:14] nikmel2803 opened #320 "[k8s-stack] Default grafana dashboard "Kubernetes / Compute Resources / Pod" not working"
I ran into a problem that the "Kubernetes / Compute Resources / Pod" dashboard does not display RAM consumption:

<img width="1307" alt="image" src="https://user-images.githubusercontent.com/32655339/165971941-663eccdd-4a56-49b3-b6d6-9ed1d2382870.png">

During the research, I found that the metric does not have an `image` label, which is the request:

<img width="1282" alt="image" src="https://use

[2022-04-29 18:09] f41gh7 commented on #320
Thanks for reporting, will fixed. Workaround for now - change default value.

[2022-05-02 20:42] f41gh7 commented on #319
@k1rk  Can you take a look?

[2022-05-02 20:57] f41gh7 commented on #314
It seems, that spec for alertmanager is not rendered correctly at _helpers https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/templates/_helpers.tpl#L160

 @k1rk PTAL

[2022-05-03 08:06] f41gh7 opened #321 "charts/victoria-metrics-agent - relabel config is outdated"
relabel config at the scrape config must be in sync with relabel config generated by operator.

 - add - container label to the pods and endpoints.
 - fix kubernetes_pod -> pod.
 - check other relabel rules.

[2022-05-15 16:37] PritomAhmed commented on #80
@Yalafeg what was the solution ? I am facing the same issue.

[2022-05-17 06:37] bruse-peng opened #327 "vmagent-victoria-metrics-agent run CrashLoopBackOff when i install with helm3"
[pengx@k8s-jump ~]$ kubectl get all -n monitor | grep 'agent'
pod/vmagent-victoria-metrics-agent-f5fdcf4d6-74d88                    0/1     CrashLoopBackOff   6          7m10s

[pengx@k8s-jump ~]$ kubectl logs vmagent-victoria-metrics-agent-f5fdcf4d6-74d88 -n monitor
flag provided but not defined: -remoteWrite.url

vmagent collects metrics data via popular data ingestion protocols and routes it to

[2022-05-17 13:35] morphalus opened #328 "Stack VMAgent resources settings not in values"
Hi,

I wanted to raise the values of resource requests and limit for the vmagent in stack mode. I did not find how to do this so I fell on [this issue](https://github.com/VictoriaMetrics/helm-charts/issues/130#issuecomment-829957305) which explains we have to add `resources` under ` spec` as shown in `values.yaml` but I don't see anything about it, neither in the [agent template](https://github.co

[2022-05-17 16:40] bruse-peng opened #329 "metric agent metric_relabel_configs issue"
i install metric agent and i metric_relabel_configs drop the pod start with bff.*   but when i  open vmui i can still find the pod start with bff.* as blow,what is the problem

- bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      job_name: kubernetes-nodes-cadvisor-after
      kubernetes_sd_configs:
      - role: node
      metric_relabel_configs:
      - action: drop

[2022-05-17 16:40] bruse-peng commented on #329
![image](https://user-images.githubusercontent.com/47881861/168864018-01436d47-ffae-40a5-ac5a-085d3154ea9e.png)

[2022-05-19 12:18] flokli opened #331 "update operator chart to latest operator release"
https://github.com/VictoriaMetrics/operator/releases/tag/v0.25.0 was released, but the chart in here hasn't been updated yet.

[2022-05-19 19:04] #321 closed

[2022-05-20 14:39] lav-kush commented on #80
@Yalafeg what was the solution ?

[2022-05-20 14:52] PritomAhmed commented on #80
@lav-kush Here is what I have done.
In Grafana, I have been using `https://<vmselect:8481>/select/0:0/prometheus` as URL and `Browser` in Access.

[2022-05-25 13:14] flokli commented on #331
This depends on https://github.com/VictoriaMetrics/operator/issues/484.

[2022-06-08 19:59] #311 closed

[2022-06-10 06:34] #109 closed

[2022-06-20 23:51] notz commented on #293
Have the same problem. Did anyone found a solution?

[2022-06-21 00:45] notz commented on #293
The name of the helm release is the problem. You have to use a very short one like "vm" otherwise the config names are truncated and then there are two with the same truncated name.

[2022-06-21 06:25] sergeyshevch commented on #320
@f41gh7 Hi! Any progress on this?

[2022-06-21 08:05] AlexShemeshWix opened #335 "MIssing permission to query endpointslices"
Hi
I can see that victoria-metrics-agent chart includes [endpointslices](https://github.com/VictoriaMetrics/helm-charts/blob/65c53ff80baa254f894aea8ec3e3de01267e1c75/charts/victoria-metrics-agent/values.yaml#L434) as role for kubernetes_sd_config sections in scrape configuration.
But ClusterRole definition in [clusterrole.yaml](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/vict

[2022-06-21 10:18] AlexShemeshWix commented on #335
This is PR that suppose to fix it: [#93](https://github.com/VictoriaMetrics/helm-charts/compare/master...AlexShemeshWix:patch-1)

[2022-06-21 14:24] sydorovdmytro commented on #293
you can disable CRDs for victoria-metrics-operator in the values.yaml:
[code]

they will be created here https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/crds/crd.yaml

[2022-07-04 12:43] sdomme opened #338 "[victoria-metrics-operator] Error: failed to create resource: ValidatingWebhookConfiguration.admissionregistration.k8s.io"
Hello. I got the following error during the installation of the [victoria-metrics-k8s-stack](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack) and enabling admissionWebhooks.

`Error: failed to create resource: ValidatingWebhookConfiguration.admissionregistration.k8s.io "victoria-stack-victoria-metrics-operator-admission" is invalid: webhooks[7].name: Du

[2022-07-04 15:28] maxpain opened #339 "Kubernetes has deprecated port 10251-10252 for controller manager and scheduler"
Kubernetes has deprecated port 10251-10252 for controller manager and scheduler.
Now we have port 10257 for the controller manager and 10259 for the scheduler, they both are secure ports and require authentication to fetch the metrics.

`kube-prometheus-stack` has the fix:
https://github.com/kubernetes/kubernetes/pull/85043

Why vm-stack doesn't have it?

[2022-07-05 13:14] f41gh7 commented on #338
It's an issue with code-generator for webhook after adding `VMRule` validation. must be fixed soon.

[2022-07-06 08:54] f41gh7 commented on #320
Should be fixed at the latest release

[2022-07-06 08:57] f41gh7 commented on #338
must be fixed at the latest version of operator's helm chart.

[2022-07-08 08:41] ximon8 commented on #293
[code]
Find the CRD name you just added and delete it,eg:
[code]

[2022-07-10 00:53] maxpain opened #341 "Prometheus Operator CRDs"
Hello. I have `victoria-metrics-k8s-stack` deployed into my cluster. I'm trying to install some other helm charts, like `nginx` with the `serviceMonitor` option enabled, which creates `ServiceMonitor` CRD.
And I'm getting this error:

[code]

Why doesn't `victoria-metrics-k8s-stack` include Prometheus Operator CRDs like `ServiceMonitor`?

[2022-07-11 10:14] f41gh7 commented on #341
@k1rk  WDYT, Should we embed it into k8s-stack?

[2022-07-11 10:14] f41gh7 commented on #339
Thanks! will fix it.

[2022-07-12 14:41] sydorovdmytro opened #342 "[victoria-metrics-k8s-stack] Alerting in the multi-cluster setup"
Hello all,

we have a VMcluster created by [victoria-metrics-k8s-stack](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack) and multiple vmagents (created by the same helm chart) in different Kubernetes clusters. The `externalLabels` parameter is set for each cluster:
[code]
Everything works fine, except alerting rules. Some default alerting rules need an

[2022-07-17 21:34] 3vaLpwner opened #344 "Failed to inspect image"
Hello!

Trying to install VM cluster in k8s.
OS: Rocky Linux 8.5 Obsidian
k8s: v1.24.2
Firewalld: off
Internet: on, no restrictions

Have a problem:
![image](https://user-images.githubusercontent.com/80704041/179425412-6c4443f4-ae30-4720-ae74-fdf1299553ba.png)

Installation process itself is a literally default:
[code]
Logs in pod are:
[code]
Describe is:
[code]

How to fix that?
Thanks in advance

[2022-07-21 00:54] diggyk opened #347 "vmagent and vmsingle terminate on start"
I feel like I'm missing something simple.  I'm spinning up the `victoria-metrica-k8s-stack` and I definitely see the `vmagent` and `vmsingle` pods start, but they immediately terminate.  If I upgrade the chart even with the same values, they spin up and stay up the second time.  I'm very puzzled and can't say I know what I'm really doing here to debug what the issue could be. Is there some conditi

[2022-07-22 13:19] jsanant opened #348 "Missing `{{- if }}` condition for vminsert-deployment helm template"
**Issue**

When deploying the latest helm template for victoria-metrics-clustered version, there is an issue with the `vminsert-deployment.yaml` where it renders an empty `volume:` block even when vminsert is disabled.

And this is the error we got when we deployed the clustered version using ArgoCD:

<img width="1080" alt="Screenshot 2022-07-22 at 6 37 40 PM" src="https://user-images.githubuserco

[2022-07-25 07:55] flokli commented on #331
https://github.com/VictoriaMetrics/helm-charts/commit/48f48aec41c8555940a690ac90cc0bb214ee89ba updated to 0.26.0, so this can be closed.

[2022-07-25 07:55] #331 closed

[2022-07-26 15:19] brokenjacobs opened #350 "0.10.1 breaks alertmanager deployment with bad image tag for config-reloader"
[code]
[code]

0.10.0 works. My alertmanager spec doesn't specify resources other than the default, this appears to be broken in the defaults.

[2022-07-27 08:49] f41gh7 commented on #350
Must be fixed at the latest version.

[2022-07-27 12:45] brokenjacobs commented on #350
are there release notes for the charts anywhere?

[2022-07-27 15:43] #350 closed

[2022-07-27 16:54] brokenjacobs opened #352 "victoria-metrics-k8s-stack Helm chart creates duplicate vmservicescrape for grafana and node-exporter owned by subcharts"
"owned by dependent chart:"
[code]
Owned by main chart:
[code]

It does this for both the grafana and node-exporter vmservicescrape's. I don't know why... but it leads to duplicate metrics in the VM because the job labels are different.

[2022-07-27 17:54] brokenjacobs opened #353 "victoria-metrics-k8s-stack error running vmagent pod as nonroot"
I've defined a securityContext for my vmagent pod:
[code]
But when I do this, I see issues in the pod log:
[code]

Any way to fix this so we can run as non-root? This seems non-ideal.

[2022-07-28 03:42] f41gh7 commented on #353
It's a bug with config-reloader. It walks over /etc folder, when it should only walk over /etc/vm folder, this must be fixed at operator/config-reloader app.

[2022-07-28 10:52] brokenjacobs commented on #353
Thanks I’ll take the issue over there

[2022-07-28 10:52] #353 closed

[2022-07-28 15:19] #352 closed

[2022-08-01 12:39] hoboroten opened #354 "Cluster-scoped resources have namespace fields"
Some cluster-level resources in charts have namespace field in them. For example, ClusterRole and ClusterRoleBinding in victoria-metrics-agent and victoria-metrics-cluster charts. Helm and kubectl usually ignores this field, but when i try to apply these charts with terraform kustomization provider (it has built-in schema checks) - it gives in error.

[2022-08-01 13:08] evaneaston commented on #341
I'm curious about this too.  I'm running vm k8s stack instead of prometheus, tried to add `openebs-monitoring` and ran into the same issue.  With vm offering feature parity in metrics collection and querying plus a bunch of other stuff, one could imagine wanting to maintain operator feature parity by supporting the `monitoring.coreos.com` CRDs, or at least some of them such as `PodMonitor`, `Prome

[2022-08-01 15:02] evaneaston commented on #341
Sure.  I can add the CRDs to get the other monitoring chart to load.  But I still need to either translate it's CRDs into VM operator CRDs or run a `kube-prometheus-stack` and configure it to forward data to `vm` and manually copy any dashboards it creates from the  `kube-prometheus-stack`  into my  `victoria-metrics-k8s-stack` grafana.

[2022-08-01 16:35] evaneaston commented on #341
Oh, nice!  I hadn't waded through the vm stack chart enough to spot this.  Thank you!

[2022-08-04 08:45] morphalus commented on #285
Hi,
I know it's closed but I want to avoid creating another issue: I don't understand how I can access to vmui with k8s-stack *without* vmsingle 🤔

[2022-08-04 12:38] denisgolius commented on #285
You also can use https://docs.victoriametrics.com/Cluster-VictoriaMetrics.html#url-format

[2022-08-04 14:44] morphalus commented on #285
Thanks :)

[2022-08-12 03:00] jsanant commented on #348
Fixed in PR #356

[2022-08-12 03:00] #348 closed

[2022-08-12 19:57] brokenjacobs opened #358 "vmalert can't use vmagent as a proxy relay for multiple remote_writes"
As documented here:
https://docs.victoriametrics.com/vmalert.html#multiple-remote-writes

I want to use vmagent to proxy my vmalert remote_write to multiple destinations. But the helm chart doesn't allow overriding the remote_write destination for vmalert:
https://github.com/VictoriaMetrics/helm-charts/blob/b130be84e99ac1584289dfc3ee9eeb59b154a94a/charts/victoria-metrics-k8s-stack/templates/_helpe

[2022-08-15 12:29] Vladikamira opened #359 "Feature: add HPA for Statefulset based VMselect"
It would be great to have support HPA for Statefulset based VMselect deployments for `victoria-metrics-cluster` helm chart

[2022-08-16 12:08] filipdadgar opened #360 "How to use snmp_exporter with k8-stack flavor?"
I have been digesting the docs but cannot get my head around this, maybe already answered question, so appreciate any help. :)

I am evaluating the k8-stack charts. Things work as expected.

My challenge is that I dont really understand how to introduce new additional scrape config. Is it as configmap or secret or something else?

I wish to monitor network appliance with snmp according to [snmp_ex

[2022-08-17 06:21] filipdadgar commented on #360
Thank you @denisgolius, quickly tried it:

curl 10.107.131.233:8429/vmui
<a href="/vmui/?">Moved Permanently</a>.

Also:

curl 10.107.131.233:8429/select/
remoteAddr: "10.244.0.0:56933"; requestURI: /select/; unsupported path requested: "/select/"

The documentation doesnt clearly state where to find accountid either. :(

[2022-08-17 07:52] denisgolius commented on #360
`vmsingle-victoriametrics-victoria-metrics-k8s-stack ClusterIP 10.107.131.233 8429/TCP 23h` you have installed VictoriaMetrics Single so `vmui` should be accessible on `http://10.107.131.233:8429/vmui/`

[2022-08-17 09:31] jsanant opened #361 "Add support for multi-level cluster setup in helm charts"
The [multi-level cluster setup](https://docs.victoriametrics.com/Cluster-VictoriaMetrics.html#multi-level-cluster-setup) options are present in the vminsert and vmstorage. But they have not been enabled in the helm charts.

[2022-08-17 11:37] denisgolius commented on #344
Hi @3vaLpwner !
As a workaround try to set `unqualified-search-registries = ["docker.io", "quay.io"]` in `/etc/containers/registries.conf.d/01-unqualified.conf` and try to deploy victoria-metrics-k8s-stack again.
BTW: we have updated victoria-metrics-k8s-stack and VictoriaMetrics operator as well as a new version of VictoriaMetrics has been released - see https://docs.victoriametrics.com/CHANGELOG

[2022-08-18 06:18] filipdadgar commented on #360
Thank you @denisgolius!

http://10.107.131.233:8429/vmui/ is indeed correct!

Now to be able to access this "page" i would wish to have a lb address instead of clusterip. But editing the service and change from ClusterIP to LoadBalancer doesnt really bite. Any clues why?

[2022-08-19 06:55] filipdadgar commented on #360
Regarding the SNMP poll question, I went the road of using unipoller as the network is based on unifi products.

I also deployed cluster version of VM instead (with fewer replicas).
In the agent values config i appended:

scrape_configs:
    - job_name: unifipoller
      scrape_interval: 30s
      static_configs:
        - targets: ['unifipoller-service.monitoring.svc.cluster.local:9130']
      tl

[2022-08-19 06:55] #360 closed

[2022-08-25 07:24] avtalabirchuk opened #363 "[victoria-metrics-k8s-stack] can't change image for VMAgent, VMalert, VMalertmanager: config-reloader"
Hi, VM team

I try to use the victoria-metrics-k8s-stack version [0.11.1 or 0.11.0 or 0.10.3] chart; there is no way to change the original container image:
  1. VMagent: config-reloader. (source image helm chart quay.io/prometheus-operator/prometheus-config-reloader )
  2. VMalert: config-reloader ( source image helm chart jimmidyson/configmap-reload:v0.3.0 )
  3. VMalertmanager: config-reloader

[2022-08-26 08:12] yelinaung opened #364 "[Question][vmagent] How do I add more scrape scrape_configs?"
Hello,

Thanks for creating the VictoriaMetrics and the Helm Chart.

### Context
I installed all the components with [VM kubernetes monitoring stack](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack).
[code]

I've separated the `values.yaml` into main_components and others. This is my main_components values
https://gist.github.com/yelinaung/d10dfdce774cb

[2022-08-29 06:51] nvtkaszpir commented on #364
https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/values.yaml#L557

[2022-08-29 07:17] yelinaung commented on #364
@nvtkaszpir Thanks for the reply!

In my case, I installed the `vmagent` as part of the [Helm Chart For Victoria Metrics kubernetes monitoring stack](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack) and I cannot find similar config for `extraScrapeConfigs`.

Maybe I should disable the `vmagent` from that Helm chart and install the `vmagent` with the val

[2022-08-29 07:37] nvtkaszpir commented on #364
you can try to set vmagent.spec.inlineScrapeConfig as a yaml section or use vmagent.spec.additionalScrapeConfigs to point to a externally created secret with additional scrape config.

https://docs.victoriametrics.com/operator/additional-scrape.html for more details

https://docs.victoriametrics.com/operator/api.html#vmagentspec for specification of the CRD

[2022-08-29 12:38] tenmozes commented on #363
@k1rk @f41gh7 could you please take alool?

[2022-08-29 15:20] yelinaung commented on #364
I've tried the examples from the links you've sent above but had a hard time making it up and running.

What I end up doing is setting up another `vm-agent` with the standalone vm-agent helm chart and scrape the custom config with `extraScrapeConfigs`. That seems to be working fine for me.

Thanks for the help and please feel free to close the issue!

[2022-08-29 16:55] k1rk commented on #363
@avtalabirchuk hi
,.
You can override images for config reloader by specifying them in spec for CRD, as each CRD allows you to override containers definition. See [VMAgent](https://docs.victoriametrics.com/operator/api.html#vmagentspec), [VMAlert](https://docs.victoriametrics.com/operator/api.html#vmalertspec), [VMAlertmanager](https://docs.victoriametrics.com/operator/api.html#vmalertmanagerspec)

[2022-08-30 13:35] Vladikamira opened #366 "Do not trigger VMagent pod restart on configuration changes"
Are we certain that we should [trigger](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-agent/templates/statefulset.yaml#L37) `VMagent` pod restart on configuration change?

IMHO it would be great if can rely on `configmap-reloader` or internal `VMagent` check config

[2022-09-02 06:34] avtalabirchuk commented on #363
@k1rk hi,

Perfect, your solution is working.
Thanks

[2022-09-02 06:44] #363 closed

[2022-09-02 09:11] h5vx opened #367 "[victoria-metrics-k8s-stack] kube-state-metrics won't scraped if $ARGOCD_APP_NAME is used"
1. I deploy the stack with ArgoCD, so, according to [values.yaml](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/values.yaml)...

[code]
     ... I have set `argocdReleaseOverride: "$ARGOCD_APP_NAME"` in values

1. Variable substition is working with labels, but in vmagent's config it is placed **literally**:

[code]

1. So, kube-state-metrics isn't sh

[2022-09-05 09:13] ajayanaj opened #368 "vmalert not firing alerts"
Hello,

We are testing vmalert for our alerting requirements. After the deployment we noticed that it's not firing any alerts even if it's matching the alerting condition. When checking metrics we saw the alerts are in pending state(not sure why it's staying in pending state). We tried to hit /vmalert/api/v1/alert API and found strange value.

For example
`alerts": [
      {
        "state": "pend

[2022-09-05 15:09] bkomraz1 opened #370 "[Feature][operator] Argocd synchronization annotation"
VictoriaMetrics operator supports adding annotations for converted object for properly comparing and syncing ArgCD objects.

| VM_PROMETHEUSCONVERTERADDARGOCDIGNOREANNOTATIONS | false | false | adds compare-options and sync-options for prometheus objects converted by operator it helps to properly use converter with ArgoCD |

It should be possible to enable it by values

[2022-09-05 22:28] ahsang opened #372 "Unable to update resources for vmstorage on a deployed victoria-metrics-k8s-stack"
Hi
I am using fluxcd to deploy this helmchart
The problem is if i update vmstorage resources (memory or cpu) on an existing deployment, it fails to update the pods
Here is my chart definition:
[code]
While inspecting the cluster if i navigate to the vmcluster crd here is the output of the vm-operator

[code]

[2022-09-06 08:15] k1rk commented on #358
@brokenjacobs hi
as of now you can override remotewrite url for VMAlert through spec
[code]

we will also add flag to enable this in chart

[2022-09-06 10:20] bkomraz1 commented on #370
@k1rk Technically you are right, but how users will know about this feature? I had to go to code of the operator to find it. I am not sure that all users will do it.

At least readme of helm chart should have list of supported environment variables and values.yaml should reference to vars.MD file

https://github.com/VictoriaMetrics/operator/blob/master/vars.MD

[2022-09-06 18:33] brokenjacobs commented on #358
This doesn't appear to be what the changes do, it looks like you can add .Values.vmagent.additionalRemoteWrites to the helm spec but not override the single remotewrite (which means I would have to enable deduplication in my vmsingle instance).
https://github.com/VictoriaMetrics/helm-charts/blob/3934ec8139cacc8f1e565a1e97ce756a0b854755/charts/victoria-metrics-k8s-stack/templates/_helpers.tpl#L166

[2022-09-06 18:35] brokenjacobs commented on #358
[code]

Logs still show vmalert connecting to vmsingle endpoint. victoria-metrics-k8s-stack chart version 0.12.1

[2022-09-06 18:42] brokenjacobs commented on #358
I THINK this will work though:
[code]

[2022-09-06 18:56] brokenjacobs commented on #358
LGTM

[2022-09-06 18:56] #358 closed

[2022-09-08 06:15] hrbapna opened #375 "Ingress to VM Single server is not working"
I am using  [victoria-metrics-k8s-stack](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack) and configuring ingress to divert requests at /vicm to the VM's main page. Unable to reach to VMSingle using http://localhost/vicm
In the same setup, I also have prometheus running (for some comparison purpose). The same ingress manifest works on it. http://localho

[2022-09-08 06:22] hrbapna commented on #375
Is this fixed by https://github.com/VictoriaMetrics/VictoriaMetrics/issues/1858 ?
In my setup, I am not even able to reach to the main page. I can understand that the above fix will make the relative paths for the child pages work.

[2022-09-08 18:29] hrbapna commented on #375
https://github.com/VictoriaMetrics/VictoriaMetrics/issues/1858 is the solution to this issue.

[2022-09-08 20:07] hrbapna commented on #375
But this results into two new issues:

1. Continuous error logs in VM single container. Requests are originating from grafana VM dashboard. Resulting in these errors.
[code]
2. This also messes up the Grafana dashboard. Datasource URL http://vmsingle-vm.monitoring.svc:8429/ doesn't work tried with few combinations such as http://vmsingle-vm.monitoring.svc:8429/vicm but getting this error on testin

[2022-09-09 07:21] hagen1778 opened #376 "Consider using nginx or vmauth for balancing read load to vmselects for cluster chart"
Looks like balancing via default k8s service is not always optimal. During the benchmarks I found that vmselects are receving non equal number of queries. Especially, in cases when read queries have different execution time. This may result into excessive resource usage for some vmselects. Would be great to try using nginx for better balancing of the read load. Least-loaded strategy seems like a b

[2022-09-09 10:11] jyotibhanot opened #377 "How to write scrape config for Kyverno in victoria metrics?"
Hi Team,

I have integrated Kyverno (https://kyverno.io/docs/introduction/) and Policy Reporter (https://kyverno.github.io/policy-reporter/guide/helm-chart-core/#enable-metrics-endpoint) in EKS cluster in AWS

I have enabled policy reporter metric endpoint and can do the curl from a pod using endpoint curl http://x.x.x.x:8080/metrics

Vmagent is running on a pod. How can I write scrap config for t

[2022-09-13 09:53] allanian opened #378 "VMNodeScrape lost namespace and pod labels for cadvisor and other"
Hello,
I installed victoria-metrics-k8s-stack with helm and get issue with missed labels from cadvisor metrics (pod and namespace).

With default NodeScrape
[code]
Metrics from promql looks like:
[code]

With empty NodeScrape
[code]
Metrics looks like:
[code]

[2022-09-15 18:30] #375 closed

[2022-09-15 18:31] hrbapna commented on #375
missing -http.pathPrefix="/vicm".

Add helm config to add http.pathPrefix
vmsingle:
  spec:
    extraArgs:
      http.pathPrefix: "/vicm"

[2022-09-15 18:39] hrbapna opened #382 "Kube state metric collection and K8s Grafana dashboards does not work when victoria-metrics-k8s-stack helm chart is used"
I am trying to run VMSingle, Grafana, AlertManager using the VM kube stack to deploy in K8s.
https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack
The setup is using the default values.yaml file. All apps defined in the helm chart are up in K8s but no K8s metric collection is done by the VM. Hence default grafana dashboards do not work.

Expectation: VM will

[2022-09-15 18:51] chasain commented on #375
https://github.com/VictoriaMetrics/helm-charts/pull/383

[2022-09-20 21:52] ahsang commented on #372
the stateful set was in a bad state. I managed to fix it after force deleting the stateful set and letting the operator create a new one.

[2022-09-20 21:52] #372 closed

[2022-09-20 21:53] ahsang commented on #372
Also, to force delete a stateful set if it is stuck, the manifest needs to be edited and the finalizer needs to be removed so k8s deletes it. otherwise it will remain stuck in a loop

[2022-09-21 14:01] f41gh7 opened #384 "k8s stack add vmalertProxy option"
We have to support proxy url for vmalert. It simplifies ui usage.

[2022-09-22 08:15] alexandrovas opened #385 "[victoria-metrics-k8s-stack] Resources for cleanup hook pod"
Hello!

I use opa-gatekeeper in my k8s cluster and force all pods to have resources (requests and limits) declared.

In file [uninstall_hook.yaml](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/uninstall_hook.yaml) there is no way to set resources for job pod.

Can you please add values for this?

[2022-09-26 12:10] egor-georgiev opened #387 "VictoriaMetrics cluster vmstorage PV size"
Hello.

I've got a question [about a particular comment in values.yaml for victoria-metrics-cluster helm-chart](https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-cluster/values.yaml#L549-L550).
It says that I should allocate same amount of storage as memory limit for vmselect component.

I have perused the documentation for VM as well as articles about it, but can'

[2022-09-30 16:28] ftagada commented on #292
Same problem here with k8s 1.17.
The problem seems to be that k8s claims to support both networking.k8s.io/v1 and networking.k8s.io/v1beta1 while Ingress only started to support the networking.k8s.io/v1 API version since k8s 1.19 (see https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22)

[code]
So all in all, (for VM-single), it regressed at commit 096f7e68f and downgrading to

[2022-10-04 14:59] littlecatherine opened #389 "Can't declare VMAgent service type as LoadBalancer"
Once I enabled graphitePort=2003 on VMAgent, I can't declare its service type as LoadBalancer. Error msg "may not contain more than 1 protocol when type is 'LoadBalancer'", because graphite protocol listens to both UDP and TCP port by default.

It would be nice at least to have the capability to customize the ports on service.

[2022-10-06 23:53] ThomasADavis opened #390 "PodSecurityPolicy no longer support in k8s v1.25"
Trying to install the operator on k3s v1.25.2+k3s1 cluster, and it fails.

It also not properly delete the existing helm chart.

[code]

vm_operator-values.yaml:

[code]

[2022-10-10 18:14] brokenjacobs opened #391 "victoria-metrics-k8s-stack 0.12.5 breaks -vmalert.proxyURL for vmsingle / grafana"
On 0.12.4 when I use -vmalert.proxyURL, grafana can see alerts and rules through the proxy endpoint and the "alert list" dashboard panel works in grafana. When I upgrade to 0.12.5 this panel stops working.

I can still hit http://vmsingle/api/v1/rules and get a list of rules returned so the proxy setting IS working. But something about 0.12.5 means that grafana doesn't work with the setting.

Both

[2022-10-10 20:10] tenmozes commented on #391
@hagen1778 did we do any changes in vmalert?

[2022-10-10 20:11] tenmozes commented on #391
@f41gh7 could you please also verify that we don't add any breaking changes to the operator regarding this?

[2022-10-10 22:16] brokenjacobs commented on #391
I've been trying to figure out what changed and not having a lot of luck. I went so far as to tcpdump inside the vmsingle container and I DO see requests the /api/v1/rules endpoint.

[2022-10-11 06:09] hagen1778 commented on #391
@f41gh7 what was the vmalert version in 0.12.4  and what it became in 0.12.5 ?

[2022-10-11 06:47] f41gh7 commented on #391
Confirmed bug, I'll take a look.

  It seems to be an issue with new vmsingle or vmalert version, something was broken at v1.82.0. Probably some metadata response was changed?

[2022-10-12 06:36] valyala commented on #391
FYI, the issue has been fixed in the commit a4975ace86b38b4e8296f6556d065a5ad28feec9 , which will be included in the next release. In the meantime it is possible to build `vmalert` from this commit according to [these docs](https://docs.victoriametrics.com/vmalert.html#how-to-build-from-sources) and verify whether it works as expected now.

[2022-10-12 12:47] brokenjacobs commented on #391
I’ll wait for the next release of the chart, we are working fine on the rolled back version for now. Thanks for the prompt fix, it’s amazing the level of effort you all put in!

[2022-10-14 02:21] bijancot opened #392 "is it possible to have more than one vmagent inside one cluster?"
Hi everyone, so i have some case that vmagent become so big and use so many resources. So the question is, is it possible to make replica of it and distribute usage to separate container?

Thank you so much!

[2022-10-14 10:45] valyala commented on #391
FYI, the fix has been included in [vmalert v1.82.1](https://github.com/VictoriaMetrics/VictoriaMetrics/releases).

[2022-10-14 13:01] #390 closed

[2022-10-19 15:52] f41gh7 commented on #392
Hello, yes it  possible with cluster mode.

[code]

 In this case, scrape targets will be distributed between vmagent replicas https://docs.victoriametrics.com/vmagent.html#scraping-big-number-of-targets

[2022-10-19 17:12] hpsawant7887-lacer opened #395 "Update dependencies of victoria-metrics-k8s-stack helm-chart"
Hi Team

The `victoria-metrics-k8s-stack` is using older versionc(4.13.*) of `kube-state-metrics`

https://github.com/VictoriaMetrics/helm-charts/blob/master/charts/victoria-metrics-k8s-stack/Chart.yaml#L15-L18

Can we update to `4.21.*` -> https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-state-metrics/Chart.yaml#L10

We really need `volumes` and `volumeMounts` in deployme

[2022-10-23 14:28] #392 closed

[2022-10-24 12:22] f41gh7 commented on #395
Hello, dependency was updated at the lastest chart release.

[2022-10-24 12:22] f41gh7 commented on #385
Hello, default resources was added to the chart's webhook.

[2022-10-24 13:22] #385 closed

[2022-10-31 18:56] nikmel2803 commented on #320
thanks! I confirm the fix

[2022-10-31 18:56] #320 closed

[2022-11-04 08:58] #395 closed

[2022-11-05 23:02] ahsang commented on #389
[code]
This will create an additional service and in the spec where i have mentioned type it supports all the parameters of the a normal kubenetes sevice manifest
https://docs.victoriametrics.com/operator/api.html#servicespec

[2022-11-06 16:28] ryan4yin commented on #382
I have a similar problem, and found the reason is that victoria-metrics-operator created Deployment `vmagent-victoria-metrics-k8s-stack` with `replicas: 0`, I adjust it to `1` and then everything works.

I then try to uninstall the helm release and reinstall, the issue just disappeared.

It may be some environment issue, the operator is not robust enough.

[2022-11-07 09:54] b-a-t commented on #382
What do you mean by `no targets are configured`?

What I've observed in my case was the lack of default datasource in Grafana, hence it wasn't able to show any useful info.

Adding it manually fixed the issue. In my case **it seems** the problem was in the new logic introduced in the grafana helm chart and adding `initDatasources: true` option made things work again:
[code]

[2022-11-08 11:59] akash123-eng opened #402 "Update deprecated PodSecurityPolicy & PodDisruptionBudget apiVersions"
Currently victoria-metrics-cluster helm chart has  policy/v1beta1 apiVersion for PodSecurityPolicy and  PodDisruptionBudget
Please update it as its deprecated

[2022-11-14 15:15] #402 closed

[2022-11-18 08:33] denisgolius commented on #377
Hi @jyotibhanot !

You can try the next config:

[code]
See also https://docs.victoriametrics.com/guides/k8s-monitoring-via-vm-cluster.html#3-install-vmagent-from-the-helm-chart

[2022-11-18 08:41] jyotibhanot commented on #377
@denisgolius : Thanks. It was already resolved. Thanks a lot

[2022-11-18 08:44] #377 closed

[2022-11-21 20:59] micw opened #409 "k8s-stack: Referenced old version of prometheus-node-exporter breaks compatibility with kubernetes >=1.25"
The k8s-stack references prometheus-node-exporter in version 3.x. The latest changed for 1.25 compatibility are available with version 4.4.x (PodSecurityPolicy deprecation):

https://github.com/prometheus-community/helm-charts/blob/prometheus-node-exporter-4.4.0/charts/prometheus-node-exporter/templates/psp.yaml

[2022-11-28 09:59] tbounsiar opened #417 "AuthToken error when using victoria-metrics-cluster"
Hello

I used chart `victoria-metrics-cluster` to deploy vm cluster in k8s using flux-cd
[code]
but when i try to write metrics using openSDB http server endpoint `/api/put` i get this error
[code]